<center style="width:100%;max-width:700px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto; text-align:left">
  <div class="idnewsletter">
    <div class="maindivcontent" style="width:100%;max-width:100%;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;">
      <table bgcolor="#fefefe" class="body-wrap" width="100%">
        <tbody>
          <tr>
            <td align="" bgcolor="#fefefe" class="container" width="100%"><div class="content" id="advert-section" style="background-color:#fefefe;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%; box-sizing: border-box;">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td width="10">&nbsp;</td>
                      <td><h1 class="headingtext" style="max-width:100%;font-weight:normal;font-size:36px;line-height:40px;margin-top:15px;margin-bottom:5px;margin-right:0;margin-left:0;font-family:Arial, Helvetica, sans-serif;color:#333333;"><strong style="font-weight:bold;font-style:normal;border-bottom-width:0px;border-bottom-style:solid;border-bottom-color:#1fbae5;color:#1fbae5;">Fastest, Easiest and Most Powerful .NET WYSIWYG HTML Editor</strong></h1>
                        <p class="lead" style="margin-top:0;margin-bottom:10px;margin-right:0;margin-left:0;"><font color="#333333" size="4" style="font-family:Arial, Helvetica, sans-serif;">Edit popular business document formats using HTML</font></p>
                        <div class="clearfix" style="height:20px;display:block;clear:both;">&nbsp;</div>
                        <div align="right" style="width:100%;float:left; text-align:center"><a href="https://www.groupdocs.com/products/editor?utm_source=nl&amp;utm_campaign=nl-august17&amp;utm_medium=link"><img src="advert_aug_2017-gd.png" style="max-width: 674px; display: block; margin: 0px auto; width:100%; height: auto; min-height:100%; max-height:100%" /></a></div>
                        <div class="clearfix" style="height:40px;display:block;clear:both;width:100%;">&nbsp;</div>
                        <div style="width:100%;float:left;">
                          <p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;"><font color="#333333" size="2" style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:1.6;"><a href="https://www.groupdocs.com/products/editor/net?utm_source=nl&amp;utm_campaign=nl-august17&amp;utm_medium=link" style="color:#1fbae5; text-decoration:none">GroupDocs.Editor for .NET</a> offers native APIs to edit PDF, Microsoft Word, Excel and PowerPoint document formats with or without the integration of any HTML editor. <br />
                            <br />
                            	The Editor API is capable of loading the external resources attached to the HTML such as images, fonts, CSS and so on. These resources can easily be traversed and saved separately as well as along with the resultant HTML document.</font></p>
                          <div class="clearfix" style="height:10px;display:block;clear:both;width:100%;">&nbsp;</div>
                          <p align="left"><a href="https://www.groupdocs.com/products/editor?utm_source=nl&amp;utm_campaign=nl-august17&amp;utm_medium=link" style="margin-right:5px;" target="_blank"><img alt="Explore NOW" src="ActionButtonsAug2017.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 220px; height: 45px;" title="Explore NOW" /></a><a href="https://downloads.groupdocs.com/editor/net?utm_source=nl&amp;utm_campaign=nl-august17&amp;utm_medium=link" target="_blank"><img alt="Download FREE 30-Days Trial" src="advertActionButton-free.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 220px; height: 45px;" title="Download FREE 30-Days Trial" /></a></p>
                        </div>
                        <div class="clearfix" style="height:10px;display:block;clear:both;width:100%;">&nbsp;</div></td>
                      <td width="10">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</center>
