<center style="width:100%;max-width:700px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto; text-align:left">
  <div class="idnewsletter">
    <div class="maindivcontent" style="width:100%;max-width:100%;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;">
      <table bgcolor="#fefefe" class="body-wrap" width="100%">
        <tbody>
          <tr>
            <td align="" bgcolor="#fefefe" class="container" width="100%"><div class="content" id="advert-section" style="background-color:#fefefe;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%; box-sizing: border-box;">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td width="10">&nbsp;</td>
                      <td><h1 class="headingtext" style="max-width:100%;font-weight:normal;font-size:33px;line-height:36px;margin-top:15px;margin-bottom:10px;margin-right:0;margin-left:0;font-family:Arial, Helvetica, sans-serif;color:#1fbae5;"><strong style="font-weight:bold;font-style:normal;border-bottom-width:0px;border-bottom-style:solid;border-bottom-color:#1fbae5;color:#1fbae5;">Add Professional Geographical Data (GIS) and Mapping Functionality</strong></h1>
                        <p class="lead" style="margin-top:0;margin-bottom:10px;margin-right:0;margin-left:0;"><font color="#1fbae5" size="5" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;color:#666666;">To Any Type of .NET Application in Minutes</font></p>
                        <p class="lead" style="margin-top:0;margin-bottom:10px;margin-right:0;margin-left:0;"><font color="#333333" size="2" style="font-family:Arial, Helvetica, sans-serif; font-size:15px">.NET GIS Developers can manipulate GIS file without requiring any additional tools or software.</font></p>
                        <div class="clearfix" style="height:10px;display:block;clear:both;">&nbsp;</div>

                        <div align="right" style="width:100%;float:left; text-align:center"><a href="https://products.aspose.com/gis/net"><img src="advert_mar_2018.png" style="max-width: 674px; display: block; margin: 0px auto; width: 100%; height: auto; min-height:100%; min-width:100%; min-width:100%" /></a></div>
                        <div class="clearfix" style="height:20px;display:block;clear:both;width:100%;">&nbsp;</div>
                        <div style="width:100%;float:left;">
                          <p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;"><font color="#333333" size="2" style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:1.6;"><a href="https://products.aspose.com/gis/net" style="color:#1fbae5; text-decoration:none">Aspose.GIS for .NET API</a> enables you to access & manipulate geographic information from vector based geospatial data formats. .NET programmers can read, write and convert most popular GIS file formats such as ESRI Shapefile & GeoJSON from within .NET applications. The GIS API allows you to work with several different geometry types that can further be added as features to Geo files.</font></p>
                          <div class="clearfix" style="height:10px;display:block;clear:both;width:100%;">&nbsp;</div>
                          <p align="left"><a href="https://products.aspose.com/email/email?utm_source=nl&amp;utm_campaign=nl-february18&amp;utm_medium=link" style="margin-right:5px;" target="_blank"><img alt="Explore NOW" src="ActionButtonsMar2018.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 220px; height: 45px;" title="Explore NOW" /></a><a href="https://www.aspose.com/community/getting-started.aspx?utm_source=nl&amp;utm_campaign=nl-february18&amp;utm_medium=link" target="_blank"><img alt="Download FREE 30-Days Trial" src="advertActionButton-free.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 220px; height: 45px;" title="Download FREE 30-Days Trial" /></a></p>
                        </div>
<div class="clearfix" style="height:10px;display:block;clear:both;width:100%;">&nbsp;</div>
                        </td>
                      <td width="10">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</center>
