

html{
  overflow: hidden;
  font-family: 'Open Sans';
  margin: 0px;
  padding:0px;
  
}
body{
  margin:0;
}



/*
  File divided into different blocks. 
    BLOCK 1 - PRE CHAT FORM CSS
    BLOCK 2 - CHATTING SCREEN CSS
    BLOCK 3 - OFFLINE MESSAGE SCREEN CSS
*/

/*
  BLOCK 1 - PRE CHAT FORM CSS
  starts from here...
*/

.mainPreChatCont{
  display: block;
  position: fixed;
  width: 350px;
  max-width:350px;
  text-align: center;
  background-color: rgb(0,107,176);
  border: 1px solid rgb(128, 181,216);
  height: 580px;
  max-height:580px;
  bottom:80px;
  right: 30px;
  visibility: hidden;
  
}

.preChatHeadDiv{
  display: block;
  text-align: center;
  background-color: inherit;
  width: 100%;
}

.AsposeLogo{
  top: 25px;
  width: 150px;
  max-width:45%;
  height: auto;
  display:block;
  position: absolute;
  left:95px;
}

.preChatHeadingText{
  font-size: 24px;
  font-family: 'Open Sans';
  color: rgb(255, 255, 255);
  line-height: 1.167;
  text-align: center;
  position: absolute;
  left: 30px;
  top: 96px;
}

.preChatSubHeading{
  font-size: 14px;
  font-family: 'Open Sans';
  color: rgba(255, 255, 255, 0.502);
  line-height: 1.429;
  text-align: center;
  position: absolute;
  left: 35px;
  top: 120px;
  width: 80%;
}

.txtPreChatName{
  font-size: 13px;
  font-family: 'Open Sans';
  color: rgba(127, 140, 141, 0.8);
  line-height: 2.154;
  position: absolute;
  border: 0px solid;
  border-style: none;
  outline: none;
  left: 15px;
  top: 50px;
  width: 90%;
  height: 30px;
  border-radius:0, 0, 0, 0 !important;
  border-bottom: 1px solid rgba(214, 214, 214, 0.502);
  box-sizing: border-box;
  font-size: 13px;
  
}

.txtPreChatEmail{
  font-size: 13px;
  font-family: 'Open Sans';
  color: rgba(127, 140, 141, 0.8);
  line-height: 2.154;
  position: absolute;
  border: 0px solid;
  border-style: none;
  outline: none;
  left: 15px;
  top: 90px;
  width: 90%;
  height: 30px;
  border-radius:0, 0, 0, 0 !important;
  border-bottom: 1px solid rgba(214, 214, 214, 0.502);
  box-sizing: border-box;
}

/*Pre Chat Form Input Fields on-focus effect starts here*/

.form-control::-webkit-input-placeholder{
  color: rgba(127, 140, 141, 0.8);
}

.form-control:focus::-webkit-input-placeholder{
  color: rgba(0,107,176,0.5);
}

.form-control:focus+.underline{
  transform: scale(1);
}

.preChatNameUnderline{
  background-color: rgba(0,107,176,0.5);
  display: inline-block;
  height: 2px;
  left: 15px;
  position: absolute;
  margin-top: -4px;
  top: 83px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 280px;
}

.preChatEmailUnderline{
  background-color: rgba(0,107,176,0.5);
  display: inline-block;
  height: 2px;
  left: 15px;
  position: absolute;
  margin-top: -4px;
  top: 122px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 280px;
}

/*Pre Chat Form Input Fields on-focus effect ends here*/

.btnPreChat{
  border-radius: 2px;
  border-style: none;
  box-sizing: border-box;
  border: 0px solid;
  background-color: rgb(220, 67, 66);
  position: absolute;
  left: 15px;
  top: 136px;
  width: 90%;
  height: 48px;
  font-size: 20px;
  font-family: 'Open Sans';
  color: rgb(255, 255, 255);
  line-height: 1.5;
  cursor: pointer;
}

.btnPreChat:hover {
  background:#c9302c;
  
}

.btnPreChat:focus{
  outline: none;
}


.preChatFormCont{
  display:block;
  width: 100%;
  
}

.preChatForm {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  display:block;
  left: 17px;
  top: 220px;
  width: 315px;
  height: 200px;
}

.preChatFormCaption{
  font-size: 20px;
  font-family: 'Open Sans';
  color: rgba(34, 34, 34, 0.8);
  line-height: 1.4;
  text-align: center;
  position: absolute;
  left: 0px;
  top: 10px;
  width: 100%;
}

.preChatLabelsCont{
  
    border-width: 1px;
    border-color: rgb(255, 255, 255) !important;
    border-style: solid;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    display: block;
    left: 17px;
    top: 440px;
    width: 314px;
    height: 118px;

}

.preChatLabelsCaption{
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: 200;
  color: rgb(255, 255, 255);
  line-height: 1.4;
  text-align: center;
  position: absolute;
  left: 0px;
  width:100%;
  top: 10px;
}

.preChatLabelsDetail{
  display: block;
  position: absolute;
  color: white;
  width: 100%;
  height:110px;
}

.preChatLabelsDetail > div{
  font-size: 14px;
  font-family: 'Open Sans';
  color: rgb(255, 255, 255);
  line-height: 2;
  text-align: center;
  position: absolute;
  opacity: 0.9;
  transition: 0.5s;

}

.preChatLabelsDetail > div:hover{
  text-decoration: underline;
  opacity: 1;
  
}

a, a:hover {
  color: white;
  text-decoration: none;
  
}

#preChatBlog{
  left: 30px;
  top: 45px;
}

#preChatDocs{
  left: 132px;
  top: 45px;
}

#preChatForums{
  left:232px;
  top: 45px;
}

#preChatExamples{
  left: 30px;
  top:70px;
}

#preChatDownloads{
  left: 132px;
  top:70px;
}

#preChatPricing{
  left: 232px;
  top:70px;
}

.liveWidgetCircle{
  border-radius: 50%;
  background-color: rgb(41, 194, 106);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  right: 30px;
  bottom: 10px;
  width: 64px;
  height: 64px;
  
}

.widgetDisabled{
  background-color: rgb(214, 214, 214);
}

.proxyCheck{
  opacity: 0;
}

.liveIcon{
  position: absolute;
  left: 15px;
  top:18px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
}

.liveCross{
  position: absolute;
  left:15px;
  top:15px;
  visibility: hidden;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

.liveWidgetText{
  font-size: 16px;
  font-family: 'Open Sans';
  color: rgba(34, 34, 34, 0.8);
  font-weight: bold;
  left:15px;
  top:10px;
  line-height: 1.75;
  position: absolute;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  
}

.proxyCheck:checked ~ .liveWidgetCircle > .liveIcon{
    transform: scale(0,0);
    -webkit-transform: scale(0,0);
    -moz-transform: scale(0,0);
    -o-transform: scale(0,0);
}

.proxyCheck:checked ~ .liveWidgetCircle > .liveCross{
  visibility: visible;
  transition-delay: 0.3s;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.liveChatWidget{
  background-color: rgb(233, 233, 233);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  right: 60px;
  bottom: 20px;
  width: 200px;
  height: 44px;
  cursor: pointer;
  transition: 0.3s;
}

/*=============BLOCK - 1 ENDS HERE =================*/

/*
  BLOCK 2 - CHATTING SCREEN CSS
  starts from here...
*/

.chatContainer {
  display: block;
  height: 580px;
  /*max-height: 580px;*/
  width:350px;
  /*min-width:350px;*/
  position: fixed;
  bottom: 80px;
  right: 30px;
  box-shadow:0px 2px 8px -5px rgba(0,0,0,0.25);
  box-sizing: border-box;  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  
 }

 .chatScreenHeader{
  display: block;
  height: 70px;
  width:100%;
  background-image: -moz-linear-gradient( -90deg, rgb(41,194,106) 0%, rgb(35,168,91) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(41,194,106) 0%, rgb(35,168,91) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(41,194,106) 0%, rgb(35,168,91) 100%);
  padding:0px;
  box-shadow:0px 2px 8px -5px rgba(0,0,0,0.25); 
}

.agentPhoto{
  display: block;
  border-radius:50%;
  border:1px solid #94dfb4;
  position: relative;
  top:10px;
  left:12px;
}

.agentName{
  font-family:'Open Sans', sans-serif;
  color:rgb(255,255,255);
  font-weight:600;
  position: absolute;
  top: 10px;
  left: 65px;
  font-size: 16px;
  line-height: 1.75;
  text-align: left;
}

.agentEmail{
  font-family:'Open Sans', sans-serif;
  color:rgb(255,255,255);
  font-weight:100;
  top: 27px;
  left:67px;
  font-size: 12px;
  font-family: "Open Sans";
  line-height: 2.333;
  text-align: left;
  position: absolute;
}

.currentDate{
  display: block;
  width: 100%;
  margin-left: 12px;
  margin-top: 10px;
}

#datetime{
  
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
  font-weight:400;
  color: rgba(62, 60, 70, 0.502);
  line-height: 2.333;
  text-align: center;
}

.chatBody{
  display: block;
  width: 100%;
  height: 450px;
  border-bottom:1px solid #e0e0e0;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width:10px;
}
::-webkit-scrollbar-track{
  background-color: rgb(233, 233, 233);
  
}
::-webkit-scrollbar-thumb
{
  background: rgb(129, 134, 146);
  border-radius: 5px;
}
::-webkit-scrollbar-button{
  background: rgb(233, 233, 233);
    
}

.messageSent{
  display: block;
  background-color: rgb(129, 134, 146);
  border:0px solid;
  border-radius:8px 0 8px 8px;
  width: 80%;
  float: right; 
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 12px;
  
}

.msgContainerSent{
  display: block;
  min-height: 52px;
  max-height: auto;
}

.captionYou{
  display: block;
  font-size: 14px;
  font-weight:600;
  color: rgb(62, 60, 70);
  line-height: 2;
  text-align: right;
  margin-top: -25px;
  
}

.msgYou{
  display: block;
  font-size: 13px; 
  font-family:'Open Sans'; 
  color: rgb(255, 255, 255); 
  line-height: 1.2;
  text-align: left;
  width: 80%;
  margin-top: 10px;
  margin-left: 10px;
}

.timeSent{
  display: block;
  font-size: 11px;
  font-family:'Open Sans';
  color: rgba(255, 255, 255, 0.502);
  line-height: 2.545;
  text-align: right;
  margin-bottom: 0px;
  margin-right: 10px;
}

.messageReceived{
  display: block;
  background-color: rgb(233, 233, 233);
  border:0px solid;
  border-radius:0px 8px 8px 8px;
  width: 80%;
  float: left; 
  margin-top: 30px;
  margin-bottom:10px;
  margin-left: 12px;
}

.msgContainerReceived{
  display: block;
  min-height: 52px;
  max-height: auto;
}

.captionAgent{
  display: block; 
  text-align: left;
  font-size: 14px;
  font-weight:600;
  color: rgb(62, 60, 70);
  line-height: 2;
  margin-top: -25px;
}

.msgAgent{
  display: block;
  font-size: 13px; 
  font-family:'Open Sans'; 
  color: rgb(129, 134, 146);
  line-height: 18px;
  text-align: left;
  width: 80%;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
  /*line-height: 2.154;*/
}

.timeReceived{
  font-weight:600;
  color: rgba(129, 134, 146, 0.502);
  display: block;
  font-size: 11px;
  font-family:'Open Sans';
  line-height: 2.545;
  text-align: right;
  margin-bottom: 0px;
  margin-right: 10px;
}

.attachFile{
  display: block;
  background-color: rgb(129, 134, 146);
  border:0px solid;
  border-radius:8px 0 8px 8px;
  float: right; 
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 12px;
  width:25%;
}

.attacheFileContainer{
  display: block;
  min-height: 52px;
  max-height: auto;  
}
.fileName{
  display: block;
  font-size: 12px;
  font-family:'Open Sans';
  line-height: 2.545;
  text-align: left;
  
  margin-left: 10px;
  opacity: 0.8;
  transition: 0.5s;
}
.fileName:hover{
  
  text-decoration: underline;
  opacity: 1;
}

.attachmentHolder{
  border: 1px solid rgba(255, 255, 255, 0.502);
  border-radius: 2px;
  display: block;
  width: 48px;
  height: 48px;
  padding: 5px;
  margin-left: 15%;
  margin-right:15%;
}

.chatFooter{
  display:block;
  height: 45px;
  width:100%;
  background-color:#f8f8f8;
  bottom: 73px;
  right:50px;  
  
 }

 .typeMsg{
  font-size:15px;
  font-family:'Open Sans', sans-serif;
  background-color:transparent;
  color: rgb(127, 140, 141);
  border-radius:0, 0, 0, 0 !important;
  border:1px solid blue;
  border-style:none;
  width: 75%;
  padding: 10px;
  padding-left:0px;
  padding-right:0px;
  position: relative;
  bottom: 83px;
  left:12px;  
  display: inline-block;
  vertical-align: middle;
}

.typeMsg:focus{
  
  outline:none;

}

.shapeCont{
  display: block;
  width:100%; 
  background-color: transparent;
}

.bottomShape{
 width:100%;
 height:65px;
 margin-top: 24px; 
}

.widgetBar{
  display: block;
  font-family: 'FontAwesome';
  background-color: rgb(233, 233, 233);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  right: 60px;
  bottom: 13px;
  width: 140px;
  height: 38px;
}

.fa-paperclip{
  cursor:pointer;
  font-size: 20px;
  font-family: "FontAwesome";
  font-style: normal;
  color: rgba(127, 140, 141, 0.502);
  line-height: 1.4;
  text-align: center;
  position: relative;
  left:13px;
  bottom: 80px; 
  display:inline-block;
  vertical-align: middle;
}

.fa-chevron-circle-right{
  cursor:pointer;
  font-size: 24px;
  font-family: "FontAwesome";
  font-style: normal;
  color: rgb(26, 137, 208);
  line-height: 1.167;
  text-align: right;
  position: relative;
  left:24px;
  bottom: 80px;
  display: inline-block;
  vertical-align: middle;
}

.fa-times, .fa-bell-o, .fa-bell-slash-o, .fa-external-link{
  font-size: 16px;
  font-family: "FontAwesome";
  color: rgb(127, 140, 141);
  font-style: normal;
  line-height: 1.75;
  text-align: center;
  display: block;
  position: fixed;
  cursor: pointer;
}

#FA1{
  right: 170px;
  bottom:15px;
}
#FA2{
  right: 140px;
  bottom:15px;
  
}
#FA3{
  right: 110px;
  bottom:15px;
}

#FA4{
  right:140px;
  bottom:15px;
  visibility: hidden;
}

.fa-times:hover, .fa-bell-o:hover, .fa-bell-slash-o:hover, .fa-external-link:hover{
  color: rgb(26, 137, 208);
}

#circle{
  border-radius: 50%;
  background-color: rgb(41, 194, 106);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  right: 45px;
  bottom: 7px;
  width: 49px;
  height: 49px;
  cursor: pointer;
}
.line{
  background-color: rgb(248, 248, 248);
  border-radius: 5px;
  position: fixed;
  width: 25px;
  height: 3px;
  bottom:29px;
  right:57px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transition-delay: 0.2s; 
}

.minmaxCheck{
  opacity: 0;
}
#chattingIcon{
  position:absolute;
  top: 10px;
  left:7px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  
  cursor: pointer;
}

.minmaxCheck:checked ~ #circle > #chattingIcon{
  opacity: 1;
  transition-delay: 0.3s;
}
.minmaxCheck:checked ~ #circle > .line {
  
  transform: rotate(-90deg);
  opacity:0;
}

/*document.getElementById("chattingIcon").style.opacity="1";*/

.greyArea{
  display: none;
  background-color: rgb(0, 0, 0);
  opacity: 0.502;
  position:absolute;
  right: 0px;
  bottom: 60px;
  width: 100%;
  height: 521px;
  
}

.modalOne{
  display: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  /*right: 5%;
  bottom: 25%;
  width: 90%;
  height: 40%;*/
  right: 22px;
  bottom: 145px;
  width: 305px;
  height: 235px;
  opacity: 1.0;
}

.modalTwo{
  display:none;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  /*right: 5%;
  bottom: 25%;
  width: 90%;
  height: 60%;*/
  right: 22px;
  bottom: 145px;
  width: 305px;
  height: 350px;
}

.infoImage{
  position: absolute;
  left: 136px;
  top: 22px;
  width: 40px;
  height: 40px;
}

.emailImage{
  position: absolute;
  left: 135px;
  top: 37px;
  width: 40px;
  height: 28px;
}

.modalText1{
  font-size: 16px;
  font-weight: 600;
  width: 70%;
  color: rgba(34, 34, 34, 0.8);
  line-height: 1.5;
  text-align: center;
  position: absolute;
  left: 45px;
  top: 75px;
}

.modalText2{
  font-size: 32px;
  font-family: "Open Sans";
  color: rgba(34, 34, 34, 0.8);
  font-weight: bold;
  line-height: 0.75;
  text-align: center;
  position: absolute;
  left: 64px;
  top: 93px;
}

.emailChat{
  font-size: 16px;
  font-family: "Open Sans";
  color: rgba(34, 34, 34, 0.8);
  line-height: 1.5;
  text-align: center;
  position: absolute;
  top:136px;
  left:40px;
  width:75%;
}

.sendChat{
  position: absolute;
  border: 0px solid;
  border-style: none;
  border-bottom: 1px solid rgb(214, 214, 214);
  box-sizing: border-box;
  font-size: 13px;
  font-family: 'Open Sans';
  text-align: center;
  color: rgba(127, 140, 141, 0.8);
  line-height: 2.154;
  top:192px;
  left:25px;
  width: 260px;
}
/*Send chat transcript input field on-focus effects*/
.sendChat::-webkit-input-placeholder{
  color: rgba(127, 140, 141, 0.8);
}

.sendChat:focus::-webkit-input-placeholder{
  color: rgba(0,107,176,0.5);
}

.sendChat:focus+.sendChatUnderline{
  transform: scale(1);
}

.sendChatUnderline{
  background-color: rgba(0,107,176,0.5);
  display: inline-block;
  height: 2px;
  left: 25px;
  position: absolute;
  margin-top: -4px;
  top: 225px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 260px;
}
/*Send chat transcript input field on-focus effects end here*/

.btnYes{
  border: 0px solid;
  border-style: none;
  border-radius: 2px;
  background-color: rgb(220, 67, 66);
  position: absolute;
  left: 74px;
  top: 137px;
  width: 80px;
  height: 40px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  line-height: 1.875;
  cursor: pointer;
}

.btnYes2{
  border: 0px solid;
  border-style: none;
  border-radius: 2px;
  background-color: rgb(220, 67, 66);
  position: absolute;
  left: 74px;
  top: 252px;
  width: 80px;
  height: 40px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  line-height: 1.875;
  cursor: pointer;
}

.btnNo{
  border: 0px solid;
  border-style: none;
  border-radius: 2px;
  background-color: rgb(127, 140, 141);
  position: absolute;
  left: 162px;
  top: 137px;
  width: 80px;
  height: 40px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  line-height: 1.875;
  cursor: pointer;
  opacity: 0.9;
}

.btnNo2{
  border: 0px solid;
  border-style: none;
  border-radius: 2px;
  background-color: rgb(127, 140, 141);
  position: absolute;
  left: 162px;
  top: 252px;
  width: 80px;
  height: 40px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  line-height: 1.875;
  cursor: pointer;
  opacity: 0.9;
}

.btnNo:hover, .btnNo2:hover{
  background-color:rgb(129, 134, 146);
  opacity: 1;
}

.btnYes:hover, .btnYes2:hover{
  background-color: rgb(201, 48, 44);  
}

.btnYes:focus, .btnNo:focus, .btnYes2:focus, .btnNo2:focus, .sendChat:focus  {
  outline: none;
}

/*======== BLOCK - 2 ENDS HERE ==========*/

/* BLOCK - 3 OFFLINE MESSAGE SCREEN CSS
    starts from here....
*/


.offMsgContainer{
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(0,107,176);
  border: 1px solid rgb(128, 181,216);
  height: 580px;
  width: 350px;
  position: fixed;
  right: 30px;
  bottom: 80px;
}

.offMsgHeader{
 display:block;
 height: 50px;
 width:100%;
 padding: 0px;
 margin:auto;
 
}

.headingTextOffMsg{
 font-size: 18px;
 font-family: 'Open Sans';
 font-weight: 400;
 color: rgba(255, 255, 255);
 line-height: 1.167;
 text-align: center;
 position: absolute;
 top: 97px;
 left:20px;

}

.offMsgBody{
 display: block;
 font-family: 'Open Sans';
 width: 100%;
 height:500px;
}

.offMsgBody p{
 font-size: 14px;
 font-family: 'Open Sans';
 color: rgb(255, 255, 255);
 line-height: 1.429;
 text-align: center;
 position: absolute;
 left: 30px;
 top: 133px;
 width: 80%;
 
}

.offMsgFormCont{
 display: block;
 position: absolute;
 top: 209px;
 left: 18px;
 width: 100%;
 
}

.offMsgForm{
 background-color: rgb(255, 255, 255);
 box-shadow: 0px 2px 2px 0px rgba(146, 133, 133, 0.15);
 position: absolute;
 display: block;
 width: 90%;
 height: 350px;
}

.txtoffMsgName{
 font-size: 13px;
 font-family: 'Open Sans';
 color: rgba(127, 140, 141, 0.8);
 line-height: 2.154;
 position: absolute;
 border: 0px solid;
 border-style: none;
 outline: none;
 left: 15px;
 top: 40px;
 width: 90%;
 height: 35px;
 border-radius:0, 0, 0, 0 !important;
 border-bottom: 1px solid rgba(214, 214, 214, 0.502);
 box-sizing: border-box;
}

.txtoffMsgEmail{
 font-size: 13px;
 font-family: 'Open Sans';
 color: rgba(127, 140, 141, 0.8);
 line-height: 2.154;
 position: absolute;
 border: 0px solid;
 border-style: none;
 outline: none;
 left: 15px;
 top: 100px;
 width: 90%;
 height: 35px;
 border-radius:0, 0, 0, 0 !important;
 border-bottom: 1px solid rgba(214, 214, 214, 0.502);
 box-sizing: border-box;
   
}

.txtoffMsgDetail{
 font-size: 13px;
 font-family: 'Open Sans';
 color: rgba(127, 140, 141, 0.8);
 line-height: 2.154;
 position: absolute;
 border: 0px solid;
 border-style: none;
 outline: none;
 left: 15px;
 top: 160px;
 width: 90%;
 height: 90px;
 border-radius:0px;
 border-bottom: 1px solid rgba(214, 214, 214, 0.502);
 box-sizing: border-box;
     
}

#mandText{
 position: absolute;
 font-family: 'Open Sans';
 font-size: 10px;
 
 font-weight: 400;
 left: 170px;
 top:260px;
 width: 100%;
}

/*Focus effects for the three input fields*/
.form-control::-webkit-input-placeholder{
 color:rgba (127,140,141,0.8);
}

.form-control:focus::-webkit-input-placeholder{
 color:rgba(0,107,176,0.50);
}

.form-control:focus+ span{
 transform: scale(1);
}

.underline1{
 background-color: rgba(0,107,176,0.50);
 display: inline-block;
 height: 2px;
 left: 15px;
 position: absolute;
 top: 74px;
 -webkit-transform: scale(0, 1);
 transform: scale(0, 1);
 -webkit-transition: all 0.3s linear;
 transition: all 0.3s linear;
 width: 90%;
}

.underline2{
 background-color: rgba(0,107,176,0.50);
 display: inline-block;
 height: 2px;
 left: 15px;
 position: absolute;
 top: 134px;
 -webkit-transform: scale(0, 1);
 transform: scale(0, 1);
 -webkit-transition: all 0.3s linear;
 transition: all 0.3s linear;
 width: 90%;
}

.underline3{
 background-color: rgba(0,107,176,0.50);
 display: inline-block;
 height: 2px;
 left: 15px;
 position: absolute;
 top: 247px;
 -webkit-transform: scale(0, 1);
 transform: scale(0, 1);
 -webkit-transition: all 0.3s linear;
 transition: all 0.3s linear;
 width: 90%;
}

/*Focus input field effects end here*/

.offMsgSubmit{
 border-radius: 2px;
 border: 0px solid;
 border-style: none;
 outline: none;
 cursor: pointer;
 background-color: rgb(220, 67, 66);
 position: absolute;
 left: 15px;
 top: 290px;
 width: 90%;
 height: 53px;
 font-size: 20px;
 font-family: 'Open Sans';
 font-weight: 600;
 color: rgb(255, 255, 255);
 line-height: 1.5;
 
}

.offMsgSubmit:hover{
 background-color: rgb(201, 48, 44);
}

.offMsgModal{
  display: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 5%;
  bottom: 27%;
  width: 90%;
  height: 40%;
}
.offMsgModalText{
  font-size: 16px;
  font-weight: 600;
  width: 70%;
  color: rgba(34, 34, 34, 0.8);
  line-height: 1.5;
  text-align: center;
  position: absolute;
  left: 15%;
  top: 40%;
}

.btnCloseOffMsg
{
  border: 0px solid;
  border-style: none;
  border-radius: 2px;
  background-color: rgb(220, 67, 66);
  position: absolute;
  left: 20%;
  top: 75%;
  width: 59%;
  height: 16%;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  line-height: 1.875;
  cursor: pointer;
}

.btnCloseOffMsg:hover{
  background-color: rgb(201, 48, 44);
}

/*======= BLOCK - 3 ENDS HERE ==========*/

/*For most mobile screens*/
@media (max-width:600px){
  

  /*PRE CHAT FORM POSITIONING*/
  .mainPreChatCont{
    width:90%;
    height:85%;
    right:15px;
    bottom:70px;
  }
  .preChatForm{
    width: 90%;
    left: 17px;
    top: 35%;
  }

  .preChatLabelsCont{
    width:90%;
    left:17px;
    top:75%;
  }

  #preChatBlog{
    left: 8%;
    top: 41%;
  }
  #preChatDocs{
    left: 42%;
    top: 41%;
  }
  #preChatForums{
    left: 75%;
    top: 41%;
  }
  #preChatExamples{
    left: 8%;
    top: 64%;
  }
  #preChatDownloads{
    left: 42%;
    top: 64%;
  }
  #preChatPricing{
    left: 75%;
    top: 64%;
  }
  .preChatHeadingText{
    width:100%;
    left:0;
    top:17%;
    font-size: 22px;
  }
  .preChatSubHeading{
    width:91%;
    left:5%;
    top:22%;
    font-size: 13px;
  }
  .preChatNameUnderline, .preChatEmailUnderline{
    width:90%;
  }
  .liveChatWidget{
    width:150px;
    height: 40px;
    right:60px;
    bottom: 18px;
  }
  #widgetCircle{
    height: 55px;
    width: 55px;
    right:50px;
  }
  .liveIcon{
    top:15px;
    left:10px;
  }
  .liveCross{
    top:12px;
    left:10px;
  }

  /*CHATTING SCREEN POSITIONING*/

  .chatContainer{
    right:20px;
    bottom:70px;
    width:90%;
  }
  
  .attachmentHolder{
    margin-left: 10px;
  }
    
  .emailImage{
    left:44%
  }
  .modalText2{
    left:13%;
  }
  .emailChat{
    left:13%;
    width:75%;
  }
  .sendChat,.sendChatUnderline{
    left:5%;
    width:90%;
  }
  .modalOne{
    right: 5%;
    bottom: 185px;
    width: 90%;
  }
  .modalTwo{
    right:5%;
    width:90%;
  }
  .greyArea{
    bottom: 9%;
    height: 91%;
  }
  .btnYes2{
    top:80%;
    left:15%;
  }
  .btnNo2{
    top:80%;
    left:55%;
  }
  .widgetBar{
    right:45px;
  }
  #circle{
    right:30px;
  }
  #maxline{
    right:42px;
  }
  #FA1{
    right:155px;
  }
  #FA2,#FA4{
    right:125px;
  }
  #FA3{
    right:95px;
  }

  /*OFFLINE MESSAGE FORM POSITIONING*/
  .offMsgContainer{
    width:90%;
    height:85%;
    right:15px;
    bottom: 80px;
  }
  .offMsgFormCont{
    height:60%;
  }
  .offMsgForm{
    height:100%;
    /*bottom:35%;*/
  }
  .offMsgForm input[type=text], input[type=email]{
    font-size: 12px;
    left:5%; 
  }
  .offMsgForm input[type=submit]{
    /*height: 15%;*/
    font-size: 16px;
    top: 80%;
    left:5%;
  }
  .txtoffMsgName{
    top:10%;
  }
  .txtoffMsgEmail{
    top:30%;
  }
  .txtoffMsgDetail{
    font-size: 12px;
    height: 15%;
    top: 50%;
    left:12px;
  }
  #mandText{
    top:70%;
    left: 53%;
    font-size: 9px;
  }
  .headingTextOffMsg{
    top:15%;
    left: 0%;
    width:100%;
    font-size:18px;
    
  }
  .subHeadingTextOffMsg p{
    font-size:14px;
    top:21%;
    width:80%;
  }
  .underline1, .underline2, .underline3{
    left:13px;
  }
  .underline1{
    top: 19%;
    left:15px;
  }
  .underline2{
    top:39%;
    left:15px;
  }
  .underline3{
    top:65%;
    
  }
 .infoImage{
  left: 43%;
  top: 22px;
  width: 40px;
  height: 40px;
 }
 .offMsgModalText{
  left: 15%;
  top: 35%;
 }
 .liveChatWidget{
  width:165px;
  height: 40px;
  right:90px;
  bottom: 18px;
} 
  }

/*For Chat Pop Up Window*/
@media (width:400px){
  .chatContainer{
    position: relative;
    height:100%;
  }
  .chatBody{
    position: absolute;
    height:82%;
    
  }
  .chatFooter{
    position:absolute;
    bottom:0%;
    left:0%;
  }
  .fa-chevron-circle-right{
    
    left:38px;
    top:5px;
  }
  .fa-paperclip{
    
    left:15px;
    top: 5px;
  }

  .typeMsg{
    top:2px;
  }
  .bottomShape{
    display:none;
  }
}

/*For older/shorter iPhone screens*/
@media (width: 320px){
  
  .AsposeLogo{
    left:85px;
  }
  
  .preChatForm{
    width: 260px;
    top: 170px;
    left: 14px;
  }
  .preChatFormCaption{
    font-size:18px;
  }
  
  .preChatNameUnderline{
    left:15px;
    top:82px;
  }
  
  .preChatEmailUnderline{
    left: 15px;
    top: 122px;

  }

  .preChatLabelsCont{
    width: 259px;
    top: 385px;
    left: 14px;
    height: 80px;
  }

  .preChatLabelsCaption{
    font-size: 14px;
  }
  #preChatBlog{
    left: 15px;
    top: 30px;
    font-size: 12px;
  }
  #preChatDocs{
    left: 112px;
    top: 30px;
    font-size: 12px;
  }
  #preChatForums{
    left: 200px;
    top: 30px;
    font-size: 12px;
  }
  #preChatExamples{
    left: 15px;
    top: 50px;
    font-size: 12px;
  }
  #preChatDownloads{
    left: 112px;
    top: 50px;
    font-size: 12px;
  }
  #preChatPricing{
    left: 200px;
    top: 50px;
    font-size: 12px;
  }
  .chatContainer{
    width:90%;
    height:80%;
    right:15px;
    bottom:100px;
  }
  .chatBody{
    height:360px;
  }
  .agentName{
    top:15px;
    font-size: 14px;
  }
  .agentEmail{
    
    font-size:10px;
    line-height: 1.333;
    width: 90%;
    top:35px;
  }
  .attachmentHolder{
    margin-left: 5px;
  }
  .greyArea{
    height:95%;
    top: 0px;
  }
  .emailImage{
  left:110px;
  top:25px;
  }
  .infoImage{
    left:110px;
  }
  .modalOne{
    width: 270px;
    height: 200px;
    bottom: 120px;
    left: 9px;
  }
  .modalTwo{
    width: 270px;
    height: 270px;
    bottom: 90px;
    left: 9px;
  }
  .modalText1{
    left:35px;
  }
  .btnYes{
    left:30px;
    height:35px;
  }
  .btnNo{
    left:135px;
    height:35px;
  }
  .modalText2{
  left:35px;
  top:85px;
  }
  .emailChat{
  left:30px;
  width:75%;
  top: 120px;
  }
  .sendChat{
  left:15px;
  width:90%;
  top: 170px;
  }
  .sendChatUnderline{
    top: 203px;
    left:15px;
    width:90%;
  }
  .btnYes2{
  top:220px;
  left:35px;
  height: 35px;
  }
  .btnNo2{
  top:220px;
  left:145px;
  height:35px;
  }
  .typeMsg{
    left:2px;
    font-size:14px;
  }
  .fa-chevron-circle-right{
    right:0px;
  }
  .fa-paperclip{
    right:13px;
  }
  .widgetBar{
    right:45px;
  }
  #circle{
    right:30px;
  }
  #minline, #maxline{
    right:42px;
  }
  #FA1{
    right:155px;
  }
  #FA2,#FA4{
    right:125px;
  }
  #FA3{
    right:95px;
  }

  .offMsgFormCont{
    height:90%;
  }
  .offMsgForm{
    height: 65%;
    bottom: 45%;
  }
  .offMsgSubmit{
    height:15%;
  }
  #offU1{
    top:22%;
  }
  #offU2{
    top:42%;
  }
  #offU3{
    top:64%;
  }

}

