body {
	background: -moz-linear-gradient(0deg, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(248,248,248,1)), color-stop(50%, rgba(248,248,248,1)), color-stop(51%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%); /* ie10+ */
	background: linear-gradient(90deg, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%); /* w3c */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#FFFFFF', GradientType=1 ); /* ie6-9 */

font-family: 'Open Sans', sans-serif}
.leftsidepanel {
	background-color: #f8f8f8;
	padding: 0% 4% 3% 0%;
}
.contentpanel {
	background-color: #FFFFFF;
	padding: 0% 0 3% 4% ;
	border-left: 1px #e5e5e5 solid
}
.container-fluid.relatedlinks {
	background-color: #333333;
    padding: 3% 0%!important;
    color: #efefef;
    background-image: url(https://www.aspose.com/homepage/img/bg/footer-bg.png);
    background-repeat: repeat;
    background-position: 0 bottom;
}
.a, .b, .c, .d {
	margin-bottom: 10px;
	display: block;
	float: left;
	width: 100%;
}
.spacer20 {
	margin-bottom: 20px;
}
.btn-primary {
    color: #fff;
    background-color: #1a89d0;
    border-color: transparent;
}
.buttonpdf {
	width: 43.33%;
	float: left;
	margin-bottom: 20px
}
.basictextspacer {
	width: 13.33%;
	float: left;
	text-align: center;
	line-height: 45px;
	font-weight: bold;
	font-size: 22px
}
.buttonpdf span, .buttonpdf button {
	display: inline-block;
	width: 100%;
	text-align: left;
	font-weight: 600;
	font-size: 20px!important
}
.fileselectorsuccess, .fileselectorerror {
	display: none;
}
p.success{    
	width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    color: green;
    font-size: 14px;
    position: relative;
    margin: 0;
}
p.error{    
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    color: red;
    font-size: 14px;
    position: relative;
    margin: 0;
}
#file-1, #file-2, #file-3 {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
input[type=email] {
	font-size:16px!important;
}
.bigbtn {
	margin: 10px 0;
	width: 100%
}
label.bigbtn {
	margin: 10px 0;
}
.btn-primary{
	border: 0;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
    font-weight: 600;}
.bigbtn .btn {
	border-radius: 0;
	border: 0;
    font-weight: 600;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
.bigbtn .btn {
	color: #FFFFFF!important;
	background: #29c26a!important;
	border: 0px solid #4cae4c!important
}

.bigbtn .btn:hover, .bigbtn .btn:focus {
	color: #FFFFFF!important;
	background: #26ae60!important;
	border: 0px solid #26ae60!important
}

.bigbtn .btn:hover, .contentpanel .bigbtn .btn:focus {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.btn.btn-info, .bigbtn .btn#convertnow {
	color: #FFFFFF!important;
	background: #1a89d0!important;
	border: 0px solid #1a89d0!important
}
.btn.btn-info:hover,.btn.btn-info:focus, .bigbtn .btn#convertnow:hover, .bigbtn .btn#convertnow:focus {
	color: #FFFFFF!important;
	background: #3071a9!important;
	border: 0px solid #007bff!important
}
.btn.btn-info{
	border: 0;
    font-weight: 700;
    padding: 10px 12px;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
	font-size: 14px;
	background: #1a89d0
}
.convertemailfile label{
	margin-bottom: 0;
}
label.receivemail {
	margin: 0px 0 10px 0;
	font-size: 13px;
}
.receivemail input{
	float:left;
	margin:5px 5px 0px 0
}
.relatedlinks ul {
	list-style-type: none;
	float: left;
	padding:0;
}
.relatedlinks ul a {
	font-size: 13px;
	color: #999;
}
.relatedlinks ul a:hover {
	color: #eee;
}
.row {
	margin: 0!important
}
.container-fluid {
	padding: 0!important
}
.dropdown-menu {
	margin-top: 0!important;
	border-radius: 0;
	padding: 0;
	box-shadow: 0 5px 30px -10px #666;
	border: 0px solid #FFFFFF
}
.dropdown-item {
	padding: 8px 15px
}
.dropdown-item:hover {
	background-color: #007bff!important;
	color: #FFFFFF
}
.dropdown-menu:before {
	display: none!important;
}
.dropdown-toggle::after {
	right: 10px!important;
	position: absolute;
	top: 21px;
}
.contentpanel span {
	float: left;
	width: 90%
}
.contentpanel i {
	float: left;
	width: 7%;
	color: #1a89d0
}
.contentpanel p {
	float: left;
	width: 100%;
	margin-bottom: 15px;
	text-align: left
}
.subscribe input[type=email] {
	display: inline-block;
	font-size: 14px;
}
.subscribe input, .btn-danger {
	border-radius: 0;
	display: inline-block;
	cursor: default!important
}
.themeblue {
	text-align: left!important;
	color: #333333;
	padding: 0!important
}
.themeblue p{display: block; margin-bottom: 10px; font-size: 18px}
.dropdown:hover .dropdown-menu {
	display: block;
}
#convertinfo {
	z-index: 9999999999
}
#convertinfo .modal-header {
	background: #1a89d0;
	color: #FFFFFF
}
#convertinfo .question {
	color: #1a89d0;
}
input[type=text], .btn:hover, button:hover, a:hover {
	cursor: pointer;
	box-shadow: none!important;
}
input {
	box-shadow: none!important;
}
.input-group-addon, input, a, button {
	border-radius: 0!important
}
footer{
font-size: 11px!important;
margin: 0 10px 0 0;
padding: 0!important;
color: #868484!important;
line-height: 52px;
float: left!important;
font-family: Arial, Verdana, Tahoma;
text-align: center;
width: 100%;
background: url(https://www.aspose.com/homepage/img/footer.png) -10px -221px repeat-x;
}
.tc{
	text-align: center;
}
.img-wrapper1{ background:none; width:280px; height:205px; display:block; position:relative}
.img-wrapper1 .from{ position:absolute; left:30px; top:60px; width: 52px; height: 66px; background: none; opacity:0.9  } 
.img-wrapper1 .to{ position:absolute; right: 15px; top:60px; width:52px; height: 66px; background: none; opacity:0.9  } 

 @media(max-width:1024px) {
body {
	background: none!important
}
.padding50 {
	padding: 20px!important;
}
.paddingtb50 {
	padding: 20px!important;
}
.container {
	padding: 0!important;
	max-width: 100%!important
}
.hidden-md {
	display: none!important;
}
.leftsidepanel {
	padding: 3%;
}
.contentpanel {
	padding: 3%;
}
}
 @media(max-width:768px) {
.input-group-addon{
	display:none!important
}
.bigbtn, .bigbtn .btn {
	width: 100%!important
}
.img-fluid {
	margin: 20px
}
.buttonpdf {
	width: 46%;
}
.basictextspacer {
	width: 8%;
}
.dropdown:hover .dropdown-menu{
	width:100%
}
}
@media (max-width: 668px){
	.img-wrapper1{
	margin: 15px auto;
}
}
@media (max-width: 320px){
.bigbtn, .bigbtn .btn {

    font-size: 100%!important;
}
}