<center style="width:100%;max-width:700px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto; text-align:left">
  <div class="idnewsletter">
    <div class="maindivcontent" style="width:100%;max-width:100%;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;">
      <table bgcolor="#fefefe" class="body-wrap" width="100%">
        <tbody>
          <tr>
            <td align="" bgcolor="#fefefe" class="container" width="100%"><div class="content" id="advert-section" style="background-color:#fefefe;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%; box-sizing: border-box;">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td width="10">&nbsp;</td>
                      <td><h1 class="headingtext" style="max-width:100%;font-weight:normal;font-size:26px;line-height:36px;margin-top:15px;margin-bottom:5px;margin-right:0;margin-left:0;font-family:Arial, Helvetica, sans-serif;color:#333333;"><strong style="font-weight:bold;font-style:normal;border-bottom-width:0px;border-bottom-style:solid;border-bottom-color:#1fbae5;color:#1fbae5;">Super-Fast Automated Documents Assembly APIs</strong></h1>
                        <p class="lead" style="margin-top:0;margin-bottom:10px;margin-right:0;margin-left:0;"><font color="#1fbae5" size="4" style="font-family:Arial, Helvetica, sans-serif;">Generate Business Document Formats using Defined Templates</font></p>
                        <p class="lead" style="margin-top:0;margin-bottom:0px;margin-right:0;margin-left:0; line-height:24px"><font color="#333333" size="3" style="font-family:Arial, Helvetica, sans-serif;">GroupDocs.Assembly supports generating Office file formats while obtaining data from databases, XML, JSON, OData and external document sources.</font></p>
                        <div class="clearfix" style="height:20px;display:block;clear:both;">&nbsp;</div>
                        
                        <div align="right" style="width:100%;float:left; text-align:center"><a href="https://www.groupdocs.com/products/assembly?utm_source=nl&amp;utm_campaign=nl-october17&amp;utm_medium=link"><img src="advert_oct_2017-gd.png" style="max-width: 674px; display: block; margin: 0px auto; width: 100%; height: auto; min-height:100%; min-width:100%; min-width:100%" /></a></div>
                        <div class="clearfix" style="height:20px;display:block;clear:both;width:100%;">&nbsp;</div>
                        <div style="width:100%;float:left;">
                          <p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;"><font color="#333333" size="2" style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:1.6;"><a href="https://www.groupdocs.com/products/assembly?utm_source=nl&amp;utm_campaign=nl-october17&amp;utm_medium=link" style="color:#1fbae5; text-decoration:none">GroupDocs.Assembly</a> offers document automation and reports generation APIs for .NET, Java and Cloud developers to create custom documents from templates. The APIs intelligently assemble the given data with the defined template document and create output document based on the data source in the same format as of the template document format.<br />
                            <br />
                            Automation APIs support different elements such as Text or HTML Blocks, Repeated and Conditional Blocks, Images, Charts etc that can be added to document templates to create rich documents as per their custom requirements.</font></p>
                          <div class="clearfix" style="height:10px;display:block;clear:both;width:100%;">&nbsp;</div>
                          <p align="left"><a href="https://www.groupdocs.com/products/assembly?utm_source=nl&amp;utm_campaign=nl-october17&amp;utm_medium=link" style="margin-right:5px;" target="_blank"><img alt="Explore NOW" src="ActionButtonsOct2017-gd.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 252px; height: 45px;" title="Explore NOW" /></a><a href="https://downloads.groupdocs.com/assembly?utm_source=nl&amp;utm_campaign=nl-october17&amp;utm_medium=link" target="_blank"><img alt="Download FREE 30-Days Trial" src="advertActionButton-free-gd.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 252px; height: 45px;" title="Download FREE 30-Days Trial" /></a></p>
<div class="clearfix" style="height:10px;display:block;clear:both;width:100%;">&nbsp;</div>

						<div class="availblefor" style="float:left;width:100%;display:block;"><font style="font-weight:normal;font-size:14px;color:#333333;line-height:25px;font-family:Arial, Helvetica, sans-serif;"><strong>Available for</strong>:<br />
						<em class="availableproducts" style="font-style:normal;background:none;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;border-left-width:0px;border-left-style:solid;border-left-color:#ddd;color:#fff;"><a href="https://www.groupdocs.com/products/assembly/net?utm_source=nl&amp;utm_campaign=nl-october17&amp;utm_medium=link"><img src="https://newsletter.groupdocs.com/uploadimages/image/net-btn%281%29.png" style="outline: 0px; border: 0px; width: 36px; height: 30px;" /></a> <a href="https://www.groupdocs.com/products/assembly/java?utm_source=nl&amp;utm_campaign=nl-october17&amp;utm_medium=link"><img src="https://newsletter.groupdocs.com/uploadimages/image/java-btn%281%29.png" style="outline: 0px; border: 0px; width: 36px; height: 30px;" /></a>&nbsp;<a href="https://www.groupdocs.com/products/assembly/cloud?utm_source=nl&amp;utm_campaign=nl-october17&amp;utm_medium=link"><img src="https://newsletter.groupdocs.com/uploadimages/image/cloud-btn.png" style="outline: 0px; border: 0px; width: 40px; height: 30px;" /></a></em></font></div>
                        </td>
                      <td width="10">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</center>
