<center style="width:100%;max-width:700px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto; text-align:left">
  <div class="idnewsletter">
    <div class="maindivcontent" style="width:100%;max-width:100%;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;">
      <table bgcolor="#fefefe" class="body-wrap" width="100%">
        <tbody>
          <tr>
            <td align="" bgcolor="#fefefe" class="container" width="100%"><div class="content" id="advert-section" style="background-color:#fefefe;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%; box-sizing: border-box;">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td width="10">&nbsp;</td>
                      <td><h1 class="headingtext" style="max-width:100%;font-weight:normal;font-size:28px;line-height:36px;margin-top:15px;margin-bottom:5px;margin-right:0;margin-left:0;font-family:Arial, Helvetica, sans-serif;color:#333333;"><strong style="font-weight:bold;font-style:normal;border-bottom-width:0px;border-bottom-style:solid;border-bottom-color:#1fbae5;color:#1fbae5;">Business File Format APIs for all Major Platforms</strong></h1>
                        <p class="lead" style="margin-top:0;margin-bottom:10px;margin-right:0;margin-left:0;"><font color="#333333" size="4" style="font-family:Arial, Helvetica, sans-serif; font-size:26px">Build the best applications using Aspose Native APIs</font></p>
                        <div class="clearfix" style="height:10px;display:block;clear:both;">&nbsp;</div>
                        <div align="right" style="width:100%;float:left; text-align:center"><a href="https://products.aspose.com/"><img src="advert_may_2018.png" style="max-width: 674px; display: block; margin: 0px auto; width: 100%; height: auto; min-height:100%; min-width:100%; min-width:100%" /></a></div>
                        <div class="clearfix" style="height:20px;display:block;clear:both;width:100%;">&nbsp;</div>
                        <div style="width:100%;float:left;">
                          <p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;"><font color="#333333" size="2" style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:1.6;">Manipulate Microsoft Word, Excel, PDF, PowerPoint, Outlook, Visio, Project, HTML, Images and 100+ other file formats using <a href="https://products.aspose.com/" style="color:#1fbae5; text-decoration:none">Aspose native APIs </a> for .NET, Java, Android, C++, SharePoint, Reporting Services and JasperReports. Developers can easily create, edit, render, print and convert between popular document formats within their own application by adding just a few lines of code.</font></p>
                          <div class="clearfix" style="height:10px;display:block;clear:both;width:100%;">&nbsp;</div>
                          <p align="left"><a href="https://products.aspose.com/?utm_source=nl&amp;utm_campaign=nl-may18&amp;utm_medium=link" style="margin-right:5px;" target="_blank"><img alt="Explore NOW" src="ActionButtonsMay2018.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 220px; height: 45px;" title="Explore NOW" /></a><a href="https://www.aspose.com/community/getting-started.aspx?utm_source=nl&amp;utm_campaign=nl-may18&amp;utm_medium=link" target="_blank"><img alt="Download FREE 30-Days Trial" src="advertActionButton-free.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 220px; height: 45px;" title="Download FREE 30-Days Trial" /></a></p>
                        </div>
<div class="clearfix" style="height:10px;display:block;clear:both;width:100%;">&nbsp;</div>

						
                        </td>
                      <td width="10">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</center>
