<center style="width:100%;max-width:700px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto; text-align:left">
  <div class="idnewsletter">
    <div class="maindivcontent" style="width:100%;max-width:100%;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;">
      <table bgcolor="#fefefe" class="body-wrap" width="100%">
        <tbody>
          <tr>
            <td align="" bgcolor="#fefefe" class="container" width="100%"><div class="content" id="advert-section" style="background-color:#fefefe;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%; box-sizing: border-box;">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td width="10">&nbsp;</td>
                      <td><h1 class="headingtext" style="max-width:100%;font-weight:normal;font-size:20px;line-height:36px;margin-top:0px;margin-bottom:5px;margin-right:0;margin-left:0;font-family:Arial, Helvetica, sans-serif;color:#333333;"><strong style="font-weight:bold;font-style:normal;border-bottom-width:0px;border-bottom-style:solid;border-bottom-color:#1fbae5;color:#1fbae5;">Your File Formats Information Resource</strong></h1>
                        <p class="lead" style="margin-top:0;margin-bottom:10px;margin-right:0;margin-left:0;"><font color="#1fbae5" style="font-family:Arial, Helvetica, sans-serif; font-weight:normal;color:#1fbae5; font-size: 17px">Find all information and news on file formats that businesses need today</font></p>
                        <div class="clearfix" style="height:5px;display:block;clear:both;">&nbsp;</div>
                        
                        <div align="right" style="width:100%;float:left; text-align:center"><a href="https://www.fileformat.com/"><img src="advert_jan_2019.png" style="max-width: 674px; max-height: 292px; display: block; margin: 0px auto; width: 100%; height: auto; min-height:100%; min-width:100%; min-width:100%" /></a></div>
                        <div class="clearfix" style="height:20px;display:block;clear:both;width:100%;">&nbsp;</div>
                        <div style="width:100%;float:left;">
                          <p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;"><font color="#333333" size="2" style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:1.6;"><a href="https://www.fileformat.com/" style="color:#1fbae5; text-decoration: none;">FileFormat</a> is your definitive knowledge resource of file formats learning. Receive all the latest news and updates about most commonly used business file formats in the industry. Post queries related to file formats and receive professional advice from our team of file format experts and online community of developers who love sharing the knowledge and experience from a developer’s perspective.</font></p>
                          <div class="clearfix" style="height:10px;display:block;clear:both;width:100%;">&nbsp;</div>
                          <p align="left" style="margin-bottom:5px"><a href="https://www.fileformat.com/" style="margin-right:5px;" target="_blank"><img alt="Explore NOW" src="ActionButtonsJan2019.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 174px; height: 45px;" title="Explore NOW" /></a></p>
<div class="clearfix" style="height:10px;display:block;clear:both;width:100%;">&nbsp;</div>

						
                        </td>
                      <td width="10">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</center>
