<center style="width:100%;max-width:700px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto; text-align:left">
  <div class="idnewsletter">
    <div class="maindivcontent" style="width:100%;max-width:100%;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;">
      <table bgcolor="#fefefe" class="body-wrap" width="100%">
        <tbody>
          <tr>
            <td align="" bgcolor="#fefefe" class="container" width="100%"><div class="content" id="advert-section" style="background-color:#fefefe;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%; box-sizing: border-box;">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td width="10">&nbsp;</td>
                      <td><h1 class="headingtext" style="max-width:100%;font-weight:normal;font-size:26px;line-height:36px;margin-top:0px;margin-bottom:5px;margin-right:0;margin-left:0;font-family:Arial, Helvetica, sans-serif;color:#333333;"><strong style="font-weight:bold;font-style:normal;border-bottom-width:0px;border-bottom-style:solid;border-bottom-color:#1fbae5;color:#1fbae5;">Planning to move PDF Applications to Java 11 or 10? </strong></h1>
                        <p class="lead" style="margin-top:0;margin-bottom:10px;margin-right:0;margin-left:0;"><font color="#1fbae5" style="font-family:Arial, Helvetica, sans-serif; font-weight:normal;color:#1fbae5; font-size: 20px">Enhance productivity & performance using JDK 11 compatible PDF API</font></p>
                        <div class="clearfix" style="height:5px;display:block;clear:both;">&nbsp;</div>
                        
                        <div align="right" style="width:100%;float:left; text-align:center"><a href="https://products.aspose.com/pdf/java"><img src="advert_feb_2019.png" style="max-width: 674px; display: block; margin: 0px auto; width: 100%; height: auto; min-height:100%; min-width:100%; min-width:100%" /></a></div>
                        <div class="clearfix" style="height:20px;display:block;clear:both;width:100%;">&nbsp;</div>
                        <div style="width:100%;float:left;">
                          <p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;"><font color="#333333" size="2" style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:1.6;"><a href="https://products.aspose.com/pdf/java" style="color:#1fbae5; text-decoration: none;">Aspose.PDF for Java</a> offers native API to generate, manipulate, convert, compress, render, secure and print PDF documents without needing Adobe Acrobat. Developers can also create new PDF documents directly through the API or via XML templates. With just a few lines of code – Convert PDF to Word, Excel, PowerPoint, HTML, images and many other file formats.</font></p>
                          <div class="clearfix" style="height:10px;display:block;clear:both;width:100%;">&nbsp;</div>
                          <p align="left" style="margin-bottom:5px"><a href="https://products.aspose.com/pdf/java" style="margin-right:5px;" target="_blank"><img alt="Explore NOW" src="ActionButtonsFeb2019.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 242px; height: 45px;" title="Explore NOW" /></a> <a href="https://products.aspose.com/pdf/java" style="margin-right:5px;" target="_blank"><img alt="Explore NOW" src="advertActionButton-free.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 242px; height: 45px;" title="Explore NOW" /></a></p>
<div class="clearfix" style="height:10px;display:block;clear:both;width:100%;">&nbsp;</div>
<div class="availblefor" style="float:left;width:100%;display:block;">
  <font style="font-weight:normal;font-size:14px;color:#333333;line-height:25px;font-family:Arial, Helvetica, sans-serif;"><strong>Available for</strong>:<br />
<em class="availableproducts" style="font-style:normal;background:none;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;border-left-width:0px;border-left-style:solid;border-left-color:#ddd;color:#fff;">
  
  <a href="https://products.aspose.com/pdf/net"><img src="https://newsletter.aspose.com/uploadimages/image/net-btn%281%29.png" style="outline: 0px; border: 0px; width: 36px; height: 30px;" /></a>
  
  <a href="https://products.aspose.com/pdf/cpp"><img src="https://newsletter.aspose.com/uploadimages/image/cpp.png" style="outline: 0px; border: 0px; width: 36px; height: 30px;" /></a>
  
  <a href="https://products.aspose.com/pdf/android-java"><img src="https://newsletter.aspose.com/uploadimages/image/android-btn.png" style="outline: 0px; border: 0px; width: 56px; height: 30px;" /></a>
    
  <a href="https://products.aspose.com/pdf/sharepoint"><img src="https://newsletter.aspose.com/uploadimages/image/sharepoint-btn.png" style="outline: 0px; border: 0px; width: 76px; height: 30px;" /></a>

  <a href="https://products.aspose.com/pdf/reporting-services"><img src="https://newsletter.aspose.com/uploadimages/image/ssrs-btn.png" style="outline: 0px; border: 0px; width: 36px; height: 30px;" /></a>

  <a href="https://products.aspose.com/pdf/jasperreports"><img src="jasper-btn.png" style="outline: 0px; border: 0px; width: 104px; height: 30px;" /></a>


</em></font></div>
						
                        </td>
                      <td width="10">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</center>
