<center style="width:100%;max-width:700px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto; text-align:left">
  <div class="idnewsletter">
    <div class="maindivcontent" style="width:100%;max-width:100%;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;">
      <table bgcolor="#fefefe" class="body-wrap" width="100%">
        <tbody>
          <tr>
            <td align="" bgcolor="#fefefe" class="container" width="100%"><div class="content" id="advert-section" style="background-color:#fefefe;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%; box-sizing: border-box;">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td width="10">&nbsp;</td>
                      <td><h1 class="headingtext" style="max-width:100%;font-weight:normal;font-size:34px;line-height:30px;margin-top:15px;margin-bottom:5px;margin-right:0;margin-left:0;font-family:Arial, Helvetica, sans-serif;color:#333333;"><strong style="font-weight:bold;font-style:normal;border-bottom-width:0px;border-bottom-style:solid;border-bottom-color:#1fbae5;color:#1fbae5;">Hurry! Offer ends January 31st.</strong></h1>
                        <div class="clearfix" style="height:10px;display:block;clear:both;">&nbsp;</div>
                        <div align="right" style="width:100%;float:left; text-align:center"><a href="https://purchase.groupdocs.com/order-online-step-1-of-8.aspx"><img src="advert_jan_2017-gd.png" style="max-width: 674px; display: block; margin: 0px auto; width: 100%; height: auto; min-height:100%; min-width:100%; min-width:100%" alt="25% off GroupDocs.Total" title="25% off GroupDocs.Total" /></a></div>
                        <div class="clearfix" style="height:20px;display:block;clear:both;width:100%;">&nbsp;</div>
                        <div style="width:100%;float:left;">
                          <p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;"><font color="#333333" size="2" style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:1.6;">Get 25% off GroupDocs.Total for .NET and Java. Quote <a href="https://purchase.groupdocs.com/order-online-step-1-of-8.aspx" style="color:#1fbae5; text-decoration:none" target="_blank"><b>HOL2017WBS</b></a> when placing your order.</font></p>
                          <div class="clearfix" style="height:10px;display:block;clear:both;width:100%;">&nbsp;</div>
                          <p align="left"><a href="https://purchase.groupdocs.com/order-online-step-1-of-8.aspx" style="margin-right:5px;" target="_blank"><img alt="Buy Now" src="ActionButtonsJan2017-gd.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 116px; height: 45px;" title="Buy NOW" /></a></p>
                          <p><small><font color="#333333" size="1" style="font-size:11px;font-family:Arial, Helvetica, sans-serif;line-height:16px;">This offer is only available on new Aspose.Total purchases and cannot be used in conjunction with other offers, renewals or upgrades. Only available directly from Aspose.com, not through third parties or resellers.</font></small></p>
                        </div>
<div class="clearfix" style="height:10px;display:block;clear:both;width:100%;">&nbsp;</div></td>
                      <td width="10">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</center>
