<!-- Button -->
<a class="btn btn-success" href="#"  data-toggle="modal" data-target="#mavenproject"><em class="fa fa-arrow-circle-o-down">&nbsp;</em> Download</a> 


<!-- Maven Popup -->
<div class="modal fade downloadproject" id="mavenproject" tabindex="-1" role="dialog" aria-labelledby="downloadprojectlabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Download from Maven</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <p><small>Add the following dependency in your pom.xml</small></p>

            <div class="copyclipboard"><button data-clipboard-action="copy" data-clipboard-target="#copyboard"  class="copybtn btn btn-success" type="button"><i class="fa fa-clipboard"></i></button></div>
            <div class="consolebox"><textarea id="copyboard"  class="mavenmodal" readonly="readonly">
<dependency>
  <groupId>javax</groupId>
  <artifactId>javaee-api</artifactId>
  <version>7.0</version>
  <scope>provided</scope>
</dependency></textarea></div>

                    </div>
                    <div class="modal-footer tc">For more details, visit our <a  href="https://docs.aspose.com/display/totalproductfamily">Docs</a></div>
                </div>
                </div>
</div>





<!-- Bootstrap & Font CSS -->
<link rel="stylesheet" href="https://cms.asposeptyltd.com/templates/aspose/css/bootstrap.css?v=331" type="text/css" /> 
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" type="text/css"/>

<!-- Common CSS -->
<link rel="stylesheet" href="https://cms.asposeptyltd.com/templates/aspose/css/common.css" type="text/css" />

 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cms.asposeptyltd.com/templates/aspose/js/bootstrap.js" type="text/javascript"></script>


  <script src="https://products.aspose.com/templates/aspose/js/clipboard.min.js"></script>

  <script>
  new Clipboard('.copybtn');
  </script>
  