<!-- for C# -->

<div class="codeblock" id="code">
<h3>Print or Render Document - C#</h3>
<pre><code class="cs">public class PrintDocument : Component</code></pre>
</div>
  
<!-- for Java -->
  
<div class="codeblock" id="code">
<h3>Print or Render Document - Java</h3>
<pre><code class="java">System.out.println("The '" + methodName + "' method died at line " + lineNumber + " at '" + currentTime + "'.");
</code></pre>
</div>