<center style="width:100%;max-width:700px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto; text-align:left">
  <div class="idnewsletter">
    <div class="maindivcontent" style="width:100%;max-width:100%;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;">
      <table bgcolor="#fefefe" class="body-wrap" width="100%">
        <tbody>
          <tr>
            <td align="" bgcolor="#fefefe" class="container" width="100%"><div class="content" id="advert-section" style="background-color:#fefefe;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%; box-sizing: border-box;">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td><table width="690" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td>
                              <img src="advert_sep_2018.png" width="100%">
                            </td>
                          </tr> 
                          </table>
                          <tr>
                            <td height="10" colspan="3"></td>
                          </tr>
                          <table id="newsletterAdvert" bgcolor="322d68" width="690" border="0" cellpadding="0" cellspacing="0" style="background-image:url(https://www.aspose.cloud/templates/aspose/images/dec2017/backgroaund.jpg); background-repeat: repeat; background-position: center center ; background-size:cover; background-color: #1a89d0;font-family:Arial, Helvetica, sans-serif">
                              <tr>
                                <td height="30" colspan="3"></td>
                              </tr>
                              
                              <tr>
                                <td width="30"></td>
                                <td><table id="mainAdvert" width="630" border="0" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;color:#333333;padding:0px">
                                    <tr>
                                      <td width="50%" valign="top"><table id="advertDetails" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;padding:0px">
                                          <tr>
                                            <td><table id="advertContent" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;color:#333333;padding:0px">
                                               <tr>
                                                    <td><img src="https://cms.asposeptyltd.com/templates/aspose/App_Themes/V3/images/zip/header/aspose_zip-for-net.png" width="128px">
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                      <td height="15"></td>
                                                    </tr>
                                                 <tr>
                                                  <td><font style="font-weight:normal;font-size:20px;color:#fefefe; font-weight:bold">Compressing and Decompressing Files or Folders Easily in .NET</font> </td>
                                                </tr>
                                                <tr>
                                                  <td height="15"></td>
                                                </tr>
                                                <tr>
                                                  <td><font style="font-weight:normal;font-size:15px;line-height:20px;color:#FFFFFF"><a href="https://products.aspose.com/zip/net" style="color:#FFFFFF; text-decoration: underline">Aspose.ZIP for .NET</a>  API allow .NET application developers to embed files and folders compression and decompression functionality in standard ZIP format within their applications. Create zip archives from files or folders and password protect .zip files using traditional (ZipCrysto) as well as AES encryption.</font> 
                                                    <br><br>
                                                    <p align="left"><a href="https://products.aspose.com/zip" style="margin-right:5px;color:#1fbae5" target="_blank"><img alt="Explore NOW" src="ActionButtonZip.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 242px; height: 45px;" title="Explore NOW" /></a><a href="https://www.aspose.com/community/getting-started.aspx" target="_blank" style="color:#1fbae5"><img alt="Download FREE 30-Days Trial" src="advertActionButton-free.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 242px; height: 45px;" title="Download FREE 30-Days Trial" /></a></p>
                                                    </td>
                                                </tr>
                                               
                                              </table></td>
                                          </tr>
                                         </table></td>
                                      <td width="30"></td>
                                      <td width="280" id="advertGraphics" align="center"><table id="advertDetails" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;padding:0px">
                                        <tr>
                                          <td><table id="advertContent" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;color:#333333;padding:0px">
                                              <tr>
                                                <tr>
                                                  <td><img src="https://cms.asposeptyltd.com/templates/aspose/App_Themes/V3/images/eps/header/aspose_eps-for-java.png" width="128px">
                                                  </td>
                                                </tr>
                                                <tr>
                                                    <td height="15"></td>
                                                  </tr>
                                                    
                                                <td><font style="font-weight:normal;font-size:20px;color:#fefefe; font-weight:bold">Convert PS and EPS Files to PDF in Java with Higher Fidelity</font> </td>
                                              </tr>
                                              <tr>
                                                <td height="15"></td>
                                              </tr>
                                              <tr>
                                                <td><font style="font-weight:normal;font-size:15px;line-height:20px;color:#FFFFFF"> <a href="https://products.aspose.com/eps/java" style="color:#FFFFFF; text-decoration: underline">Aspose.EPS for Java</a> API makes it easier for developers to convert PS (PostScript) and EPS (Encapsulated PostScript) files directly in PDF documents within any type of Java application. It also allows reading PS an EPS files and converting PostScript operators directly into PDF operators. The official download is available at Aspose Artifactory.</font> <br><br>
                                                  <p align="left"><a href="https://products.aspose.com/eps" style="margin-right:5px;color:#1fbae5" target="_blank"><img alt="Explore NOW" src="ActionButtonEps.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 242px; height: 45px;" title="Explore NOW" /></a><a href="https://www.aspose.com/community/getting-started.aspx" target="_blank" style="color:#1fbae5"><img alt="Download FREE 30-Days Trial" src="advertActionButton-free.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 242px; height: 45px;" title="Download FREE 30-Days Trial" /></a></p>
                                                  </td>
                                              </tr>
                                             <tr>
                                              <td height="20"></td>
                                             </tr>
                                            </table></td>
                                        </tr>
                                       </table></td>
                                    </tr>
                                  </table></td>
                                <td width="30"></td>
                              </tr>
                              </table>
                        
						
                        </td>
                      <td width="10">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</center>


<style>
    a {
      color:#21649f;
      text-decoration:none;
      font-weight:bold;
      border:none;
      outline:none
    }
    a:hover {
      color:#21649f;
      text-decoration:underline;
    }
    #newsletterAdvert{ }
    </style>