<center style="width:100%;max-width:700px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto; text-align:left">
  <div class="idnewsletter">
    <div class="maindivcontent" style="width:100%;max-width:100%;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;">
      <table bgcolor="#fefefe" class="body-wrap" width="100%">
        <tbody>
          <tr>
            <td align="" bgcolor="#fefefe" class="container" width="100%"><div class="content" id="advert-section" style="background-color:#fefefe;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%; box-sizing: border-box;">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td><table width="690" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td>
                              <img src="advert_aug_2018.png" width="100%">
                            </td>
                          </tr> 
                          </table>
                          <tr>
                            <td height="10" colspan="3"></td>
                          </tr>
                          <table id="newsletterAdvert" bgcolor="322d68" width="690" border="0" cellpadding="0" cellspacing="0" style="background-image:url(https://www.aspose.cloud/templates/aspose/images/dec2017/backgroaund.jpg); background-repeat: repeat; background-position: center center ; background-size:cover; background-color: #1a89d0;font-family:Arial, Helvetica, sans-serif">
                              <tr>
                                <td height="30" colspan="3"></td>
                              </tr>
                              
                              <tr>
                                <td width="30"></td>
                                <td><table id="mainAdvert" width="630" border="0" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;color:#333333;padding:0px">
                                    <tr>
                                      <td width="50%" valign="top"><table id="advertDetails" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;padding:0px">
                                          <tr>
                                            <td><table id="advertContent" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;color:#333333;padding:0px">
                                               <tr>
                                                    <td><img src="https://www.aspose.cloud/templates/aspose/App_Themes/V3/images/email/header/aspose_email-for-python.png" width="128px">
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                      <td height="15"></td>
                                                    </tr>
                                                 <tr>
                                                  <td><font style="font-weight:normal;font-size:28px;color:#fefefe; font-weight:bold">Add Email Processing Capabilities in Python Applications</font> </td>
                                                </tr>
                                                <tr>
                                                  <td height="15"></td>
                                                </tr>
                                                <tr>
                                                  <td><font style="font-weight:normal;font-size:20px;color:#fefefe">Work with Outlook Email Formats without using MS Outlook</font></td>
                                                </tr>
                                                <tr>
                                                  <td height="15"></td>
                                                </tr>
                                                <tr>
                                                  <td><font style="font-weight:normal;font-size:15px;line-height:20px;color:#FFFFFF"><a href="https://products.aspose.com/email/python-net" style="color:#FFFFFF; text-decoration: underline">Aspose.Email for Python via .NET</a>  API allow developers to embed email related functionality in their Python applications without worrying about the underlying details of message formats. Easily create, manipulate or convert popular email formats including Outlook MSG, EML, EMLX and MHT within Python applications without using Microsoft Outlook.</font> 
                                                    <br><br>
                                                    <p align="left"><a href="https://products.aspose.com/email" style="margin-right:5px;color:#1fbae5" target="_blank"><img alt="Explore NOW" src="ActionButtonemail.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 242px; height: 45px;" title="Explore NOW" /></a><a href="https://www.aspose.com/community/getting-started.aspx" target="_blank" style="color:#1fbae5"><img alt="Download FREE 30-Days Trial" src="advertActionButton-free.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 242px; height: 45px;" title="Download FREE 30-Days Trial" /></a></p>
                                                    <div class="availblefor" style="float:left;width:100%;display:block;">
                                                        <font style="font-weight:normal;font-size:14px;color:#FFFFFF;line-height:25px;font-family:Arial, Helvetica, sans-serif;"><strong style="float: left;margin-top: 5px;">Also Available for :</strong> <em class="availableproducts" style="font-style:normal;background:none;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:10px;border-left-width:0px;border-left-style:solid;border-left-color:#ddd;color:#fff;"><br /><br />
                                                        <a href="https://products.aspose.com/email/net"><img src="https://newsletter.aspose.com/uploadimages/image/net-btn%281%29.png" style="outline: 0px; border: 0px; width: 36px; height: 30px;" /></a>
                                                        <a href="https://products.aspose.com/email/java"><img src="https://newsletter.aspose.com/uploadimages/image/java-btn%281%29.png" style="outline: 0px; border: 0px; width: 36px; height: 30px;" /></a>
                                                        <a href="https://products.aspose.com/email/cpp"><img src="cpp.png" style="outline: 0px; border: 0px; width: 36px; height: 30px;" /></a>
                                                        <a href="https://products.aspose.com/email/jasperreports"><img src="https://newsletter.aspose.com/uploadimages/image/android-btn.png" style="outline: 0px; border: 0px; width: 56px; height: 30px;" /></a>
                                                        <a href="https://products.aspose.com/email/sharepoint"><img src="https://newsletter.aspose.com/uploadimages/image/sharepoint-btn.png" style="outline: 0px; border: 0px; width: 76px; height: 30px;" /></a>
                                                      </em></font></div></td>
                                                </tr>
                                               
                                              </table></td>
                                          </tr>
                                         </table></td>
                                      <td width="30"></td>
                                      <td width="280" id="advertGraphics" align="center"><table id="advertDetails" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;padding:0px">
                                        <tr>
                                          <td><table id="advertContent" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;color:#333333;padding:0px">
                                              <tr>
                                                <tr>
                                                  <td><img src="https://www.aspose.cloud/templates/aspose/App_Themes/V3/images/barcode/header/aspose_barcode_for-android-java-min.png" width="128px">
                                                  </td>
                                                </tr>
                                                <tr>
                                                    <td height="15"></td>
                                                  </tr>
                                                    
                                                <td><font style="font-weight:normal;font-size:28px;color:#fefefe; font-weight:bold">Generate and Recognize 1D and 2D Barcodes</font> </td>
                                              </tr>
                                              <tr>
                                                <td height="15"></td>
                                              </tr>
                                              <tr>
                                                <td><font style="font-weight:normal;font-size:20px;color:#fefefe">From Images at Any Angle within Android Apps</font></td>
                                              </tr>
                                              <tr>
                                                <td height="15"></td>
                                              </tr>
                                              <tr>
                                                <td><font style="font-weight:normal;font-size:15px;line-height:20px;color:#FFFFFF"> <a href="https://products.aspose.com/barcode/android-java" style="color:#FFFFFF; text-decoration: underline">Aspose.BarCode for Android via Java</a> empowers Android application developers to generate and recognize 55+ barcodes of different types within their applications. Easily manipulate the appearance of the generated barcodes such as background color, bar color, image quality, rotation angle, x-dimension, captions, size, resolution and much more.</font> <br><br>
                                                  <p align="left"><a href="https://products.aspose.com/barcode" style="margin-right:5px;color:#1fbae5" target="_blank"><img alt="Explore NOW" src="ActionButtonbarcode.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 242px; height: 45px;" title="Explore NOW" /></a><a href="https://www.aspose.com/community/getting-started.aspx" target="_blank" style="color:#1fbae5"><img alt="Download FREE 30-Days Trial" src="advertActionButton-free.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 242px; height: 45px;" title="Download FREE 30-Days Trial" /></a></p>
                                                  <div class="availblefor" style="float:left;width:100%;display:block;">
                                                    <font style="font-weight:normal;font-size:14px;color:#FFFFFF;line-height:25px;font-family:Arial, Helvetica, sans-serif;"><strong style="float: left;margin-top: 5px;">Also Available for :</strong> <em class="availableproducts" style="font-style:normal;background:none;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:10px;border-left-width:0px;border-left-style:solid;border-left-color:#ddd;color:#fff;"><br /><br />
                                                    <a href="https://products.aspose.com/barcode/net"><img src="https://newsletter.aspose.com/uploadimages/image/net-btn%281%29.png" style="outline: 0px; border: 0px; width: 36px; height: 30px;" /></a>
                                                    <a href="https://products.aspose.com/barcode/java"><img src="https://newsletter.aspose.com/uploadimages/image/java-btn%281%29.png" style="outline: 0px; border: 0px; width: 36px; height: 30px;" /></a>
                                                    <a href="https://products.aspose.com/barcode/cpp"><img src="cpp.png" style="outline: 0px; border: 0px; width: 36px; height: 30px;" /></a>
                                                    <a href="https://products.aspose.com/barcode/sharepoint"><img src="https://newsletter.aspose.com/uploadimages/image/sharepoint-btn.png" style="outline: 0px; border: 0px; width: 76px; height: 30px;" /></a>
                                                    <a href="https://products.aspose.com/barcode/reporting-services"><img src="https://newsletter.aspose.com/uploadimages/image/ssrs-btn.png" style="outline: 0px; border: 0px; width: 36px; height: 30px;" /></a>
                                                    <a href="https://products.aspose.com/barcode/jasperreports"><img src="https://newsletter.aspose.com/uploadimages/image/jasper-btn%281%29.png" style="outline: 0px; border: 0px; width: 104px; height: 30px;" /></a>
                                                  </em></font></div></td>
                                              </tr>
                                             <tr>
                                              <td height="20"></td>
                                             </tr>
                                            </table></td>
                                        </tr>
                                       </table></td>
                                    </tr>
                                  </table></td>
                                <td width="30"></td>
                              </tr>
                              </table>
                        
						
                        </td>
                      <td width="10">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</center>


<style>
    a {
      color:#21649f;
      text-decoration:none;
      font-weight:bold;
      border:none;
      outline:none
    }
    a:hover {
      color:#21649f;
      text-decoration:underline;
    }
    #newsletterAdvert{ }
    </style>