<center style="width:100%;max-width:700px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto; text-align:left">
  <div class="idnewsletter">
    <div class="maindivcontent" style="width:100%;max-width:100%;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;">
      <table bgcolor="#fefefe" class="body-wrap" width="100%">
        <tbody>
          <tr>
            <td align="" bgcolor="#fefefe" class="container" width="100%"><div class="content" id="advert-section" style="background-color:#fefefe;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%; box-sizing: border-box;">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td width="10">&nbsp;</td>
                      <td><h1 class="headingtext" style="max-width:100%;font-weight:normal;font-size:16px;line-height:30px;margin-top:0px;margin-bottom:5px;margin-right:0;margin-left:0;font-family:Arial, Helvetica, sans-serif;color:#333333;"><strong style="font-weight:bold;font-style:normal;border-bottom-width:0px;border-bottom-style:solid;border-bottom-color:#1fbae5;color:#1fbae5;">Programmatically manipulate Microsoft Office documents without MS Office installed</strong></h1>
                        <p class="lead" style="margin-top:0;margin-bottom:10px;margin-right:0;margin-left:0;"><font color="#1fbae5" style="font-family:Arial, Helvetica, sans-serif; font-weight:normal;color:#1fbae5; font-size: 17px">Save time, money and development costs by using Aspose and GroupDocs APIs suite</font></p>
                        <div class="clearfix" style="height:5px;display:block;clear:both;">&nbsp;</div>
                        
                        <div align="right" style="width:100%;float:left; text-align:center"><a href="https://www.conholdate.com/"><img src="advert_feb_2019.png" style="max-width: 674px; max-height: 292px; display: block; margin: 0px auto; width: 100%; height: auto; min-height:100%; min-width:100%; min-width:100%" /></a></div>
                        <div class="clearfix" style="height:20px;display:block;clear:both;width:100%;">&nbsp;</div>
                        <div style="width:100%;float:left;">
                          <p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;"><font color="#333333" size="2" style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:1.6;"><a href="https://products.conholdate.com/total"  style="color:#1fbae5; text-decoration: none;">Conholdate.Total Product Family</a> empowers .NET and Java developers to perform a wide range of document processing tasks within their applications. Easily create, manipulate, compare, search, sign, view, annotate, compare, automate, search and convert between Microsoft Office and other popular file formats without installing any other 3rd party software.</font></p>
                          <div class="clearfix" style="height:10px;display:block;clear:both;width:100%;">&nbsp;</div>
                          
                           <p align="left"><a href="https://products.conholdate.com/total" style="margin-right:5px;" target="_blank"><img alt="Explore NOW" src="advertActionButton2.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 257px; height: 45px;" title="Explore NOW" /></a>  <a href="https://downloads.conholdate.com/" style="margin-right:5px;" target="_blank"><img alt="Download Free Trial" src="advertActionButton-free.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 189px; height: 45px;" title="Download Free Trial" /></a></p>
                           
                         
<div class="clearfix" style="height:10px;display:block;clear:both;width:100%;">&nbsp;</div>

						
                        </td>
                      <td width="10">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</center>
