body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}
a,a:hover,a:focus{
  transition: 200ms all ease-in-out; text-decoration: none;}
a{ color:#007bff}
.navbar {
  margin-bottom: 0;
}
.container {
  max-width: 1400px;
}
.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.bankcode {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f7f7f7;
  border-top: solid 1px #ddd;
}
.bankcode ul{
  list-style-type: none;
  padding:0;
  margin:0;
}
.bankcode ul h3{ color:#666666; margin:0 0 15px 0}
.bankcode ul li a{
  font-size: 14px;
  color: #333333;
}
.bankcode ul li a:hover{
  text-decoration: none;
}
.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
.topnav ul{ 
  list-style-type: none;
  margin: 0;
  padding:0;
}
.topnav ul li{
  float:left;
  margin: 5px 4px;
  padding:0;
}
.topnav ul li a{ 
  padding: 0px 5px;
  background: #fc3324;
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}
.topnav ul li a:hover{ 
  background:#666666;
  text-decoration: none;
}
.topsearch h2{
  font-weight: 100;
}
#search{  
  width: 95%;
  background: none;
  border: 0;
  border-bottom: 1px solid #DDDDDD;
  outline: 0!important;
  color: #FFFFFF;
}
#submitbtn{  
  background: none;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  outline: 0!important;
  width: 5%
}
.topsearch:hover #submitbtn{
  color:#007bff

}
.navbar-dark .navbar-brand{
  color:#333333;
}
.navbar-dark .navbar-brand em{
  display: block;
    font-size: 11px;
    font-style: normal;
}
.logoimg{
  float: left;
  margin: 10px 10px 0 0;
}
.logoimg img{
  max-width: 48px;
}
.logotxt{
  line-height: 20px;
  padding-top: 15px;
  float: left;
}
.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:active{
  color: #333333;
  opacity: .8
}
.navbar-dark .navbar-toggler{
  border-color: #007bff;
  color:#007bff;
  font-size: 16px;
  padding:10px;
  cursor: pointer;
}
.navbar-dark .navbar-toggler:hover{
  border-color: #333333;
  color:#333333
}
.Swiftcodesample{
  font-size: 30px;
  text-align: center;
  margin: 20px 0;
}
.Swiftcodesample .s1{
  color:#00b9ff;
}
.Swiftcodesample .s2{
  color:#00a4df;
}
.Swiftcodesample .s3{
  color:#2ed06e;
}
.Swiftcodesample .s4{
  color:#28b862;
}
.country{
  list-style-type: none;
    margin: 0;
    padding: 5px 10px;
    display: inline-block;
    background-color: #FAFAFA;
}
.country li{
  width: 50%;
  float:left;
  margin-bottom: 5px;
}
.country li:last-child{ width: 100%;}
.country li a{
  font-size: 14px;
}
.country li a:hover,.country li a:focus{
  color:#00a4df;
  text-decoration: none
}
h6{
  color:#fc3324
}
.countrymain {
  list-style-type: none;
  margin: 0;
  padding: 5px 0px;
  display: inline-block;
  width: 100%;
}
.countrymain li{
width: 33.33%;
float:left;
}
.countrymain li a{
  font-size: 16px;
  display: block;
  padding: 10px;
  background: #fafafa;
  margin: 5px 10px 5px 0px;
  text-decoration: none!important;
}
.countrymain li a:hover,.countrymain li a:focus{
  background: #007bff;
  color:#FFFFFF
}

.countrymain li a img{
  margin-right: 5px;
}
.gotop{
  display: block;
  background: #fc3324;
  color: #FFFFFF;
  padding: 5px 10px;
}
.gotop:hover{
  background:#00b9ff;
  color:#FFFFFF

}
.searchresult b{

  color:#007bff
}
.swiftcodetable table{
  width: 100%;
  border:0;
  margin-bottom: 20px;
  border: 1px solid #EEEEEE;
  font-size: 14px;
}
.swiftcodetable table th{
  padding: 5px;
  background: #007bff;
  color:#FFFFFF
}
.swiftcodetable table td:first-child{
  text-align: center;
}
.swiftcodetable table td{
  padding: 10px 5px;
  color:#333333
}
.swiftcodetable table tr:nth-child(even){
  background: #fafafa;
}
.swiftcodetable table tr:hover, .swiftcodedetailstable table tr:hover{
  background:#d1ecf1!important;
}
.swiftcodedetailstable table{
  width: 100%;
  border:0;
  margin-bottom: 20px;
  border: 1px solid #EEEEEE;
  font-size: 14px;
}
.swiftcodedetailstable table th{
  padding: 10px;
  background: #007bff;
  color:#FFFFFF
}
.swiftcodedetailstable table td:first-child{
  text-align: left;
  width: 150px;
  font-weight: bold;
  font-size: 14px;
}
.swiftcodedetailstable table td{
  padding: 10px 10px;
  color:#333333;
  font-size: 20px
}
.swiftcodedetailstable table tr:nth-child(even){
  background: #fafafa;
}



.ads{
  margin: 0 0 20px 0;
}






.pagination{
  display: inline-block
}
.pagination li{
  float:left;
  margin: 0 0 5px 0
}
.page-link{
  border-radius: 0!important;
  background: #f7f7f7;
  color:#333333
}
.page-link:focus, .page-link:hover,.page-item.active .page-link{
  background:#fc3324;
  border:1px solid #fc3324;
  color:#FFFFFF
}
.breadcrumb{
  border-radius: 0!important;
  background: #f7f7f7
}
.bluetext{
  color:#fc3324;
}
#map iframe{
  width: 100%;
}
.breadcrumb-item{
  font-size: 13px;
  text-transform: uppercase
}


@media(max-width:968px){
.responsive-img{
  width: 100%;
}
.navbar-dark .navbar-toggler {
  position: absolute;
  top: 15px;
  right: 15px;
}
.topnav ul{
  border-top: 1px solid #ddd;
    padding-top: 5px;
    margin-top: 10px;
}
.countrymain li {
  width: 50%;
}
.countrymain li a{
  font-size: 14px;
}
.hidden-md{ display: none;}
.p-4{ padding:0!important}

.swiftcodetable table{
  font-size: 12px
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-size: 1.3em
}
}

@media(max-width:640px){
  .swiftcodetable table td:empty,.swiftcodetable table th{
    display: none!important
  }
.swiftcodetable table td {
   width: 100%;
    display: flex!important;
}

}