<div id="snowflakeContainer">
  <p class="snowflake">&#149;</p>
</div>
<div class="body-content home">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="container-fluid static_header holiday2015">
          <div class="container headertitle">
            <div class="row">
              <div class="col-md-6 holidayimage tr pull-right"> <a href="http://www.aspose.com/purchase/login.aspx?ReturnUrl=order-online-step-1-of-8.aspx"><img src="http://www.aspose.com/Images/Newsletter/Dec-2016/25percent-off-aspose-total-big.png" alt="25% off Aspose.Total" /></a> </div>
              <div class="col-md-6 headertext tl pull-left">
                <h2>25% off Aspose.Total</h2>
                <h4>Aspose.Total brings together all Aspose products on a platform and is great value for money. This winter Aspose is making it even better value by giving you 25% off Aspose.Total.<br />
                  <br />
                  Simply enter the coupon code <strong>HOL2016WBS</strong> when placing your order.</h4>
                <a href="http://www.aspose.com/purchase/login.aspx?ReturnUrl=order-online-step-1-of-8.aspx" class="btn btn-danger btn-lg">Read More</a>
                <p><small>This offer is only available on new Aspose.Total purchases and cannot be used in conjunction with other offers. The offer is only available directly from Aspose.com, not through third parties or resellers.</small></p>
              </div>
            </div>
          </div>
          <!--/container --></div>
      </div>
    </div>
  </div>
  <div class="campaign-productdetailtextsection productfamilypage">
    <div class="container-fluid tc">
      <div class="clearfix">&nbsp;</div>
      <h4 class="campaign-producttitle">All the Aspose Tools You've Ever Wanted: Aspose.Total</h4>
      <div class="clearfix">&nbsp;</div>
    </div>
    <div class="container tl">
      <div class="productfamilypage col-lg-12">
        <div class="campaign-productdetailtext">
          <div class="clearfix">&nbsp;</div>
          <p>Aspose.Total brings together all of our products for one platform: all Aspose products for Android, for example, or all products for Java. When you need several of our products, Aspose.Total gives you our best value. With 25% off, it is even better! But hurry! This offer is only valid until January 31st.</p>
          <div class="clearfix">&nbsp;</div>
          <h3 align="center">Current and Future Products</h3>
          <div class="clearfix">&nbsp;</div>
        </div>
        <p>Aspose.Total gives you not only the products we have developed today, but also any products we develop in the future*. Aspose.Total is a complete document management toolkit that lets you create, manipulate and convert a wide range of Microsoft Office document formats, open formats, portable, web and image formats. It also lets you work with email, OCR, and barcodes.</p>
        <p>Find out what you get when you buy Aspose.Total for .NET, Aspose.Total for Java, Aspose.Total for Android, Aspose.Total for SharePoint, Aspose.Total for Reporting Services, or Aspose.Total for JasperReports.</p>
        <p class="campaign-smallfont">* As long as you have a valid subscription.</p>
      </div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="campaign-productbar">
        <div class="container-fluid bg-white liveimage">
          <div class="row">
            <div class="container tl product-bar">
              <div class="col-lg-12 padding0 fam-product-section ">
                <div class="col-lg-12  padding0 pf-urls"> <a style="border-radius:0" class="netbg btn " href="http://www.aspose.com/products/total/net">Aspose.Total for<em>.NET</em></a> <a style="border-radius:0" class="javabg btn " href="http://www.aspose.com/products/total/java">Aspose.Total for<em>Java</em></a> <a style="border-radius:0" class="androidbg btn " href="http://www.aspose.com/products/total/android">Aspose.Total for<em>Android</em></a> <a style="border-radius:0" class="sharepointbg btn " href="http://www.aspose.com/products/total/sharepoint">Aspose.Total for<em>SharePoint</em></a> <a style="border-radius:0" class="ssrsbg btn " href="http://www.aspose.com/products/total/reporting-services">Aspose.Total for<em>Reporting Services</em></a> <a style="border-radius:0" class="jasperbg btn " href="http://www.aspose.com/products/total/jasperreports">Aspose.Total for<em>JasperReports</em></a></div>
              </div>
              <div class="clearfix">&nbsp;</div>
              <div class="clearfix">&nbsp;</div>
              <div class="clearfix">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
