<center style="width:100%;max-width:700px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto; text-align:left">
  <div class="idnewsletter">
    <div class="maindivcontent" style="width:100%;max-width:100%;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;">
      <table bgcolor="#fefefe" class="body-wrap" width="100%">
        <tbody>
          <tr>
            <td align="" bgcolor="#fefefe" class="container" width="100%"><div class="content" id="advert-section" style="background-color:#fefefe;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%; box-sizing: border-box;">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td width="10">&nbsp;</td>
                      <td><h1 class="headingtext" style="max-width:100%;font-weight:normal;font-size:26px;line-height:36px;margin-top:0px;margin-bottom:5px;margin-right:0;margin-left:0;font-family:Arial, Helvetica, sans-serif;color:#333333;"><strong style="font-weight:bold;font-style:normal;border-bottom-width:0px;border-bottom-style:solid;border-bottom-color:#1fbae5;color:#1fbae5;">Java APIs to Add & Remove Watermarks from</strong></h1>
                        <p class="lead" style="margin-top:0;margin-bottom:10px;margin-right:0;margin-left:0;"><font color="#1fbae5" size="4" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;color:#1fbae5;">PDF, Microsoft Office, Email and Image File Formats</font></p>
                        <p class="lead" style="margin-top:0;margin-bottom:10px;margin-right:0;margin-left:0;"><font color="#333333" size="3" style="font-family:Arial, Helvetica, sans-serif;line-height:22px;">Perform complex watermarking operations with simple syntax, easy to use methods and a few lines of code within Java applications.  </font></p>
                        <div class="clearfix" style="height:20px;display:block;clear:both;">&nbsp;</div>
                        
                        <div align="right" style="width:100%;float:left; text-align:center"><a href="https://products.groupdocs.com/watermark/java?utm_source=nl&amp;utm_campaign=nl-march18&amp;utm_medium=link"><img src="advert_apr_2018.png" style="max-width: 674px; display: block; margin: 0px auto; width: 100%; height: auto; min-height:100%; min-width:100%; min-width:100%" /></a></div>
                        <div class="clearfix" style="height:20px;display:block;clear:both;width:100%;">&nbsp;</div>
                        <div style="width:100%;float:left;">
                          <p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;"><font color="#333333" size="2" style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:1.6;"><a href="https://products.groupdocs.com/watermark/java" style="color:#1fbae5; text-decoration:none">GroupDocs.Watermark for Java</a> is a powerful document watermarking API to add, search and remove watermarks in popular business and image file formats. The watermarks added by the API are hard to be automatically removed by third-party tools, while it can be easily used for searching and removing previously added watermarks of popular types.</font></p>
                          <div class="clearfix" style="height:10px;display:block;clear:both;width:100%;">&nbsp;</div>
                          <p align="left" style="margin-bottom:5px"><a href="https://products.groupdocs.com/watermark?utm_source=nl&amp;utm_campaign=nl-march18&amp;utm_medium=link" style="margin-right:5px;" target="_blank"><img alt="Explore NOW" src="ActionButtonsMar2018.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 284px; height: 45px;" title="Explore NOW" /></a><a href="https://downloads.groupdocs.com/watermark/java?utm_source=nl&amp;utm_campaign=nl-march18&amp;utm_medium=link" target="_blank"><img alt="Download FREE 30-Days Trial" src="advertActionButton-free.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 252px; height: 45px;" title="Download FREE 30-Days Trial" /></a></p>
<div class="clearfix" style="height:10px;display:block;clear:both;width:100%;">&nbsp;</div>

						<div class="availblefor" style="float:left;width:100%;display:block;"><font style="font-weight:normal;font-size:14px;color:#333333;line-height:25px;font-family:Arial, Helvetica, sans-serif;">
						<em class="availableproducts" style="font-style:normal;background:none;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;border-left-width:0px;border-left-style:solid;border-left-color:#ddd;color:#fff; display:inline-block"> <strong style="color:#333333; float:left; margin-top:5px;">Available for : </strong> &nbsp; <a href="https://products.groupdocs.com/watermark/net?utm_source=nl&amp;utm_campaign=nl-march18&amp;utm_medium=link"><img src="https://newsletter.groupdocs.com/uploadimages/image/net-btn%281%29.png" style="outline: 0px; border: 0px; width: 36px; height: 30px;" /></a></em></font></div>
                        </td>
                      <td width="10">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</center>
