<!DOCTYPE html>

<head>
<meta charset="utf-8">
<title>Sign In - Containerize</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"  />
<link rel="apple-touch-icon" sizes="180x180" href="https://cms.admin.containerize.com/templates/containerize/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://cms.admin.containerize.com/templates/containerize/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://cms.admin.containerize.com/templates/containerize/favicon-16x16.png">
<link rel="manifest" href="https://cms.admin.containerize.com/templates/containerize/site.webmanifest">
<link rel="mask-icon" href="https://cms.admin.containerize.com/templates/containerize/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="https://cms.admin.containerize.com/templates/containerize/favicon.ico">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="https://cms.admin.containerize.com/templates/containerize/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!--Bootstrap-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!--Fontawesome-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<!-- Common CSS -->
<link rel="stylesheet" href="https://cms.admin.containerize.com/templates/aspose/css/common.css" type="text/css" />
<link rel="stylesheet" href="https://cms.admin.containerize.com/templates/containerize/css/containerize.css?v1.4" type="text/css" />

<!-- Dynabic.Menu CSS -->
<link rel="stylesheet" href="https://cms.admin.containerize.com/templates/aspose/css/AsposePtyLtdMenu.css?v2.8" type="text/css" />
<link rel="stylesheet" href="https://cms.admin.containerize.com/templates/aspose/css/font-awesome.css" type="text/css">
<link rel='stylesheet' href='css/select2.min.css'>
<link rel='stylesheet' href='css/identityserver.css'>
</head>
<body class="sign-page">
<div class="asposeptyltd containerize">
<div id='DynabicMenuInnerDiv'></div>
<div class="containerizebody container-fluid p-0">
  <div class="container p-0">
    <div class="row">
      <div class="col-md-6 whiteside order-lg-2  d-flex align-items-center  justify-content-center">
        <div class="box2 col-md-11 offset-1">
          <h2 class="font-32">Hello, Sign In to your account</h2>
          <p class="font-16">Don’t have an account? <a href="#">Sign Up</a></p>
          <form class="formsection pt-3">
            <div class="form-group">
              <label  class="linehover"><div class="underline"></div><span>Email/User Name</span>
                <input type="text" placeholder="Enter email or user name" value="eddie@aspose.com" required>
              </label>
            </div>
            <div class="form-group">
              <label  class="linehover"><div class="underline"></div><span>Password</span>
                <input type="password" placeholder="Enter Pasword" value="eddiepass123" id="newpass" class="passwordinput">
                <a  class="showpass"><i class="fas fa-eye"></i></a><a class="hidepass"><i class="fas fa-eye-slash"></i></a></label>
            </div>
            <div class="form-group">
              <label>
              <input type="checkbox" id="checkbox-1-1" class="regular-checkbox">
              <label for="checkbox-1-1"></label> &nbsp; Remember Me <a href="#" class="float-right">Forgot your password?</a>
              </label>
              <input type="submit" value="SIGN IN" class="btn btn-danger mt-4 d-block btnsignform">
            </div>
            <div class="form-group">
              <div class="orspacer">OR</div>
              <a data-ng-repeat="provider in model.externalProviders" class="btn btn-link mt-4 d-block btnGoogle" href="https://id.containerize.com/external?provider=Google&amp;signin=1b8d20f163f406045f22a3c9d92c4692" title="Google"  ><img src="img/googleico.png"> SIGN IN WITH GOOGLE</a> <a data-ng-repeat="provider in model.externalProviders" class="btn btn-link mt-4 d-block btngithub" href="https://id.containerize.com/external?provider=GitHub&amp;signin=1b8d20f163f406045f22a3c9d92c4692" title="GitHub"  ><i class="fab fa-github" ></i> &nbsp;SIGN IN WITH GITHUB</a> </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 p-0 bluesignin d-flex align-items-center justify-content-center">
        <div class="box1 ">
          <h2 class="font-36 mb-5">Containerize.IdentityServer</h2>
          <p class="col-md-10 p-0 font-24 mb-5">Single sign-on to access all applications and services of Aspose Pty Ltd.</p>
          <div class="websitebox signinico col-md-10 p-0">
            <ul >
              <li><a href="https://www.aspose.com/"><img src="https://cms.admin.containerize.com/templates/aspose/App_Themes/V3/images/aspose-logo.png" height="28"></a></li>
              <li><a href="https://www.groupdocs.com/"><img src="https://cms.admin.containerize.com/templates/groupdocs/images/logos/groupdocs-logo.png" height="28"></a></li>
              <li><a href="https://www.conholdate.com/"><img src="https://cms.admin.containerize.com/templates/conholdate/images/conholdate-small-white.png" height="28"></a></li>
              <li><a href="https://www.containerize.com/"><img src="https://cms.admin.containerize.com/templates/containerize/images/containerize-logo.png" height="28"></a></li>
              <li><a href="https://www.codeporting.com/"><img src="https://www.codeporting.com/templates/codeporting/images/codeporting-logo.svg" height="28"></a></li>
              <li><a href="https://www.fileformat.com/"><img src="https://cms.admin.containerize.com/templates/fileformat/images/fileformat-logo.png" height="28"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<div id='DynabicMenuFooter'></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cms.admin.containerize.com/templates/aspose/js/bootstrap.js" type="text/javascript"></script>
<script src="https://menu.containerize.com/Scripts/Dynabic.Menu.min.js"></script>

<script src="js/identityserver_custom.js"></script>

<script>
    LoadMenu("Containerize");
    //sidebar
</script>
</html>