.archivepage {
	font-family: 'Open Sans', serif;
	padding-top: 30px
}
.archivepage #archive-list {
	margin: 0;
	border-left: 1px solid #eee;
	padding-bottom: 40px;
	border-bottom: 1px solid #eee;
	font-family: 'Open Sans', serif;
}
.archivepage .archive-heading h4 {
	background: url(../img/default-thumbnail.png) center center repeat;
	background-size: cover;
	color: #fff;
	font-size: 44px;
	text-align: center;
	padding: 30px 0;
	margin: 0 0 15px;
	font-family: 'Open Sans', serif;
}
.archivepage #archive-list li {
	border-bottom: 1px solid #eee;
	padding: 5px 15px;
	font-size: 13px;
	color: #666;
    font-family: 'Open Sans', serif;
    line-height: 24px;
}
.archivepage #archive-list li a {
	width: 80%;
    display: inline-block;
    font-size: 13px;
    margin: 0;
    padding: 0 10px;
    min-height: 30px;
    color: #666;
    font-family: 'Open Sans', serif;
    vertical-align: middle;
    line-height: 27px
}
.archivepage #archive-list li a:hover {
	color: #1a89d0
}
.archivepage .pr-0 {
	padding-right: 0!important;
}
.archivepage .p-0 {
	padding: 0!important;
}
.archivepage .campaign-id {
	display: none;
}
@media(max-width:1024px) {
.row{
    margin: 0;
}
.archivepage #archive-list li a {
	width: 90%;
}
}
@media(max-width:868px) {
.archivepage #archive-list li a {
	width: 85%;
	padding: 0 5px;
}
.archivepage .archive-heading h4 {
	font-size: 32px;
}
}
@media(max-width:668px) {
.archivepage h4 {
	line-height: 27px;
}
.archivepage #archive-list li {
	padding: 10px 15px;
	font-size: 14px
}
.archivepage #archive-list li a {
	width: 100%;
	padding: 0;
}
.archivepage #archive-list{
    border:0!important
}
}
