<center style="width:100%;max-width:700px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto; text-align:left">
  <div class="idnewsletter">
    <div class="maindivcontent" style="width:100%;max-width:100%;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;">
      <table bgcolor="#fefefe" class="body-wrap" width="100%">
        <tbody>
          <tr>
            <td align="" bgcolor="#fefefe" class="container" width="100%"><div class="content" id="advert-section" style="background-color:#fefefe;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%; box-sizing: border-box;">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td width="10">&nbsp;</td>
                      <td><h1 class="headingtext" style="max-width:100%;font-weight:normal;font-size:22px;line-height:30px;margin-top:15px;margin-bottom:5px;margin-right:0;margin-left:0;font-family:Arial, Helvetica, sans-serif;color:#333333;"><strong style="font-weight:bold;font-style:normal;border-bottom-width:0px;border-bottom-style:solid;border-bottom-color:#1fbae5;color:#1fbae5;">Perform Complex Word Documents Processing Capabilities</strong></h1>
                        <p class="lead" style="margin-top:0;margin-bottom:10px;margin-right:0;margin-left:0; color:#1fbae5; font-weight:bold; font-size:22px"><font color="1fbae5" style="font-family:Arial, Helvetica, sans-serif; color:#1fbae5; font-weight:bold; font-size:22px">within native MAC Applications via Xamarin</font></p><p><font color="#333333" size="2" style="font-family:Arial, Helvetica, sans-serif;">The API supports working with DOC, OOXML, RTF, HTML, OpenDocument, PDF, XPS, EPUB and other popular document formats.</p>
                        <div class="clearfix" style="height:10px;display:block;clear:both;">&nbsp;</div>
                        <div align="right" style="width:100%;float:left; text-align:center"><a href="https://www.aspose.com/products/words/mac-xamarin?utm_source=nl&amp;utm_campaign=nl-november17&amp;utm_medium=link"><img src="advert_nov_2017.png" style="max-width: 674px; display: block; margin: 0px auto; width: 100%; height: auto; min-height:100%; min-width:100%; min-width:100%" alt="Aspose.Words for Mac via Xamarin" title="Aspose.Words for Mac via Xamarin" /></a></div>
                        <div class="clearfix" style="height:20px;display:block;clear:both;width:100%;">&nbsp;</div>
                        <div style="width:100%;float:left;">
                          <p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;"><font color="#333333" size="2" style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:1.6;">Easily integrate <a href="https://www.aspose.com/products/words/mac-xamarin?utm_source=nl&amp;utm_campaign=nl-november17&amp;utm_medium=link" style="color:#1fbae5; text-decoration:none">Aspose.Words for Mac via Xamarin APIs</a> with the Xamarin.Mac framework and make it possible to develop native Mac applications having the ability to create, manipulate, convert or render most commonly used Word processing document formats without worrying about the complexities of the underlying format implementation.</font></p>
                          <div class="clearfix" style="height:10px;display:block;clear:both;width:100%;">&nbsp;</div>
                          <p align="left"><a href="https://www.aspose.com/products/words?utm_source=nl&amp;utm_campaign=nl-november17&amp;utm_medium=link" style="margin-right:5px;" target="_blank"><img alt="Explore NOW" src="ActionButtonsNov2017.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 220px; height: 45px;" title="Explore NOW" /></a><a href="https://www.aspose.com/community/getting-started.aspx?utm_source=nl&amp;utm_campaign=nl-november17&amp;utm_medium=link" target="_blank"><img alt="Download FREE 30-Days Trial" src="advertActionButton-free.png" style="border-style: none; outline-style: none; margin-bottom: 5px; width: 220px; height: 45px;" title="Download FREE 30-Days Trial" /></a></p>
                        </div>
<div class="clearfix" style="height:10px;display:block;clear:both;width:100%;">&nbsp;</div>

						<div class="availblefor" style="float:left;width:100%;display:block;"><font style="font-weight:normal;font-size:14px;color:#333333;line-height:25px;font-family:Arial, Helvetica, sans-serif;"><strong>Also available for</strong>:<br />
						<em class="availableproducts" style="font-style:normal;background:none;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;border-left-width:0px;border-left-style:solid;border-left-color:#ddd;color:#fff;"><a href="https://www.aspose.com/products/words/net?utm_source=nl&amp;utm_campaign=nl-november17&amp;utm_medium=link"><img src="net-btn.png" style="outline: 0px; border: 0px; width: 36px; height: 30px;" alt=".NET" /></a> <a href="https://www.aspose.com/products/words/java?utm_source=nl&amp;utm_campaign=nl-november17&amp;utm_medium=link"><img src="java-btn.png" style="outline: 0px; border: 0px; width: 36px; height: 30px;" alt="Java" /></a> <a href="https://www.aspose.com/products/words/android-java?utm_source=nl&amp;utm_campaign=nl-november17&amp;utm_medium=link"><img src="androidjava-btn.png" style="outline: 0px; border: 0px; width: 118px; height: 30px;" alt="Android via Java" /></a> <a href="https://www.aspose.com/products/words/android-xamarin?utm_source=nl&amp;utm_campaign=nl-november17&amp;utm_medium=link"><img src="androidxamarin-btn.png" style="outline: 0px; border: 0px; width: 145px; height: 30px;" alt="Android via Xamarin" /></a> <a href="https://www.aspose.com/products/words/ios-xamarin?utm_source=nl&amp;utm_campaign=nl-november17&amp;utm_medium=link"><img src="iosxamarin-btn.png" style="outline: 0px; border: 0px; width: 118px; height: 30px;" alt="iOS via Xamarin" /></a> <a href="https://www.aspose.com/products/words/sharepoint?utm_source=nl&amp;utm_campaign=nl-november17&amp;utm_medium=link"><img src="sharepoint-btn.png" style="outline: 0px; border: 0px; width: 88px; height: 30px;" alt="SharePoint" /></a> <a href="https://www.aspose.com/products/words/reporting-services?utm_source=nl&amp;utm_campaign=nl-november17&amp;utm_medium=link"><img src="reporting-btn.png" style="outline: 0px; border: 0px; width: 126px; height: 30px;" alt="Reporting Services" /></a> <a href="https://www.aspose.com/products/words/jasperreports?utm_source=nl&amp;utm_campaign=nl-november17&amp;utm_medium=link"><img src="jasper-btn.png" style="outline: 0px; border: 0px; width: 104px; height: 30px;" alt="JasperReports" /></a> </em></font></div>
                        </td>
                      <td width="10">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</center>
