.asposetools a:hover, .asposetools button:hover {
	opacity: .8;
}
.asposetools {
	text-align: center
}
.asposetools h1 {
	font-size: 45px;
	font-weight: bold;
}
.asposetools p {
	font-size: 20px;
	font-weight: normal;
}
.pt-5, .pb-5 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.uploadfileinput input {
	position: absolute;
	opacity: 0;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%
}
.filedrop {
	position: relative;
	width: 65%;
	border: 2px dashed #6dcff6!important;
	padding: 50px 100px 50px;
	margin: 50px auto;
	border-radius: 10px;
	box-shadow: 0 0 50px -20px #333333;
}
.filedrop input {
	width: 100%;
	opacity: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0
}
.filedrop label {
	width: 100%;
	font-size: 24px;
	font-weight: normal;
}
.filedrop a,.filedrop a label {
	font-size: 13px;
	color: #7f8b77;
	display: inline
}
.progress{
	margin-top:30px;
}
.fileupload{
	position: relative;
	z-index: 5;
}
.filename {
	background: #e0f4d3;
	color: #7f8b77;
	padding: 10px 15px;
	border-radius: 6px;
	margin-top: 10px;
	display: inline-block;
}
.filename i {
	color: #cfad99
}
filesendemail {
	width: 100%;
}
.filesuccess {
	position: relative;
	width: 65%;
	border: 0px dashed #6dcff6!important;
	padding: 50px 100px 50px;
	margin: 50px auto 30px;
	border-radius: 10px;
	box-shadow: 0 0 20px -10px #333333;
	background: #eff9e8
}
.filesuccess label {
	width: 100%;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 20px
}
.saveas {
	margin: 30px auto;
}
.saveas em {
	font-size: 24px;
	font-style: normal;
	margin-right: 10px;
}
.saveas .saveformat button, .btn-group>.btn:first-child {
	background: #ebebeb;
	border: 1px solid #CCCCCC;
	padding: 15px;
	font-size: 18px;
	color: #757575;
	border-radius: 8px!important;
	text-align: left;
	min-width: 200px;
	box-shadow: 0 5px 20px -10px #666666;
}
.saveas .saveformat button:hover, .btn-group>.btn:first-child:hover, .saveas .saveformat button:focus, .btn-group>.btn:first-child:focus {
	background: #1a89d0;
	color: #FFFFFF;
}
.saveas .dropdown-toggle::after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-bottom: 0;
	border-left: .3em solid transparent;
	position: absolute;
	right: 10px;
	top: 20px;
}
.saveas .open > .dropdown-menu {
	display: block;
	margin: 0!important;
	padding: 10px;
	background: #FFFFFF;
}
.saveas .open > .dropdown-menu a {
	width: 100%;
	display: block;
	margin: 0 0 10px 0;
	font-size: 16px!important;
	transition: 0ms all ease-in-out!important
}
.saveas .open > .dropdown-menu a:last-child {
	margin: 0;
}
.convertbtn .btn {
	background: #65c621;
	color: #FFFFFF;
	padding: 20px 90px;
	border-radius: 8px!important;
	font-size: 18px;
	font-weight: normal;
	outline: 0!important;
	box-shadow: 0 5px 20px -10px #666666;
	border: 0!important
}
.dropzone .dz-preview .dz-image {
	display: none!important
}
.dropzone .dz-preview .dz-details {
	opacity: 1!important;
	padding: 0 1em!important
}
.dropzone .dz-preview {
	width: 100%;
}
.dropzone .dz-preview .dz-progress {
	opacity: 1!important;
	z-index: 1!important;
	pointer-events: none!important;
	position: static!important;
	height: 16px!important;
	left: inherit!important;
	top: inherit!important;
	margin: 20px auto!important;
	width: 70%!important;
	margin-left: inherit!important;
	border-radius: 8px!important;
	display: inline-block!important;
}
.dropzone .dz-preview .dz-details {
	position: relative!important
}
.dropzone .dz-filename span, .dropzone .dz-filename {
	background: #e0f4d3!important;
	padding: 5px!important;
	display: table;
	margin: 0 auto;
	border: 0!important;
}
.dropzone .dz-preview.dz-error .dz-error-message, .dropzone .dz-preview.dz-error .dz-error-mark {
	display: none!important;
}
.progress-bar-animated {
	-webkit-animation: progress-bar-stripes 1s linear infinite;
	animation: progress-bar-stripes 1s linear infinite;
}
.sendemail {
	display: table;
	margin: 0 auto;
}
.sendemail .bg-primary {
	background: #1a89d0;
	color: #FFFFFF
}
.brdr-spacer {
	margin: 00px 0 30px;
	float: left;
	width: 100%;
	border-bottom: 1px solid #eaeaea;
}
.productsrow .col-lg-4 {
	margin-bottom: 30px;
}
.productsrow .col-lg-4:nth-child(4) {
	display: block;
	clear: left;
}
 @media(max-width:1024px) {
.box-center.emptybox {
	display: none;
}
.productsrow .col-lg-4:nth-child(4) {
	display: block;
	clear: none;
}
.productsrow .col-lg-3, .productsrow .col-lg-4 {
	float: left;
}
}
 @media(max-width:768px) {
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .content2 .box1 blockquote footer, .content2 .box1 h6 {
	text-align: center!important
}
.filedrop label, .fileupload label, .filesuccess label {
	font-size: 20px;
}
.convertbtn .btn {
	padding: 20px 40px;
}
}
@media(max-width:668px) {
.pt-5, .pb-5 {
	padding: 0
}
.filedrop, .fileupload, .filesuccess {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}
.convertbtn .btn {
	width: 100%;
}
}
