<center style="width:100%;max-width:700px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto; text-align:left">
  <div class="idnewsletter">
    <div class="maindivcontent" style="width:100%;max-width:100%;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;">
      <table bgcolor="#FFFFFF" class="body-wrap" width="100%">
        <tbody>
          <tr>
            <td align="" bgcolor="#FFFFFF" class="container" width="100%"><div class="content" id="advert-section" style="background-color:#FFFFFF;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%; box-sizing: border-box;">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td>
                          <table cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td><table width="690" border="0" cellpadding="0" cellspacing="0">
                                      <tbody><tr>
                                        <td>
                                          <h1  style="font-weight: normal;
                                          font-size: 22px;
                                          color: #ffffff;
                                          font-family: Arial, Helvetica, sans-serif;
                                          background: #0773cb;
                                          padding: 30px;
                                          text-align: center;">5 New File Format Manipulation APIs Launched This Month</h1>
                                          
                                        </td>
                                      </tr> 
                                      </tbody></table>
                                      </td></tr>
                                      </tbody></table>
                        
                        
                        <table id="newsletterAdvert" bgcolor="322d68" width="690" border="0" cellpadding="0" cellspacing="0" style=" background-color: #FFFFFF;font-family:Arial, Helvetica, sans-serif">
                              
                              <tr>
                                <td width="30"></td>
                                <td><table id="mainAdvert" width="630" border="0" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;color:#333333;padding:0px">
                                    <tr>
                                      <td width="300px" valign="top"><table id="advertDetails" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;padding:0px">
                                          <tr>
                                            <td><table id="advertContent" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;color:#333333;padding:0px">
                                               <tr>
                                                    <td><a href="https://products.aspose.com/cells/php-java"><img src="https://www.aspose.cloud/templates/aspose/App_Themes/V3/images/cells/272x272/aspose.cells-for-php-via-java-min.png" width="48px" style="vertical-align: middle"></a> <font  style="font-weight:bold;font-size:18px;color:#666666"><a href="https://products.aspose.com/cells/php-java" style="font-weight:bold;font-size:18px;color:#333333">Aspose.Cells <small style="font-weight:normal;font-size:14px;">for PHP via Java</small></a></font><br><br>
                                                    </td>
                                                  </tr>
                                                <tr>
                                                  <td height="5"></td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                    <font style="font-weight:normal;font-size:18px;color:#0773cb; line-height: 20px">Excel Spreadsheet Processing APIs for PHP Applications</font><br><br><font style="font-weight:normal;font-size:14px;color:#666666; line-height: 20px"><a href="https://products.aspose.com/cells/php-java" style="font-weight:normal;font-size:14px;color:#666666; text-decoration: underline; line-height: 20px">Aspose.Cells for PHP via Java</a>: Create, Manipulate or Convert Excel Spreadsheets in PHP applications without needing Microsoft Excel. </font></td>
                                                </tr>
                                                
                                              </table></td>
                                          </tr>
                                         </table></td>
                                      <td width="30x"></td>
                                      <td width="300px" valign="top"><table id="advertDetails" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;padding:0px">
                                        <tr>
                                          <td><table id="advertContent" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;color:#333333;padding:0px">
                                             <tr>
                                              <td><a href="https://products.aspose.com/psd/net"><img src="https://www.aspose.cloud/templates/aspose/App_Themes/V3/images/psd/272x272/aspose_psd-for-net.png" width="48px" style="vertical-align: middle"></a> <font  style="font-weight:bold;font-size:18px;color:#666666"><a href="https://products.aspose.com/psd/net"  style="font-weight:bold;font-size:18px;color:#333333">Aspose.PSD <small style="font-weight:normal;font-size:14px;">for .NET</small></a></font><br><br>
                                              </td>
                                            </tr>
                                          <tr>
                                            <td height="5"></td>
                                          </tr>
                                          <tr>
                                            <td><font style="font-weight:normal;font-size:18px;color:#0773cb; line-height: 20px">Manipulate Photoshop Files without using Photoshop</font><br><br><font style="font-weight:normal;font-size:14px;color:#666666; line-height: 20px"><a href="https://products.aspose.com/psd/net" style="font-weight:normal;font-size:14px;color:#666666; text-decoration: underline; line-height: 20px">Aspose.PSD for .NET</a>: Dynamically Create, Read, Edit & Convert Adobe Photoshop PSD and PSB files to raster image file formats. </font></td>
                                          </tr>
                                              
                                            </table></td>
                                        </tr>
                                       </table></td>
                                    </tr>
                                  </table><hr style="margin-top: 10px; border-bottom: 1px solid #eeeeee!important; border: 0;"></td>
                                <td width="30"></td>
                              </tr>
                              <tr>
                              <td height="5"></td>
                            </tr>


                            <tr>
                            <td width="30"></td>
                            <td><table id="mainAdvert" width="630" border="0" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;color:#333333;padding:0px">
                                <tr>
                                  <td width="630px" valign="top"><table id="advertDetails" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;padding:0px">
                                      <tr>
                                        <td><table id="advertContent" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;color:#333333;padding:0px">
                                           <tr>
                                                <td align="center"><a href="https://products.aspose.com/words/cpp"><img src="https://www.aspose.cloud/templates/aspose/App_Themes/V3/images/words/272x272/aspose_words-for-cpp.png" width="48px" style="vertical-align: middle"></a> <font><a href="https://products.aspose.com/words/cpp" style="font-weight:bold;font-size:18px;color:#333333">Aspose.Words <small style="font-weight:normal;font-size:14px;">for C++</small></a></font>
                                                </td>
                                              </tr>
                                            <tr>
                                              <td height="10"></td>
                                            </tr>
                                            <tr>
                                              <td align="center"><font style="font-weight:normal;font-size:16px;color:#0773cb; line-height: 20px">Perform Word Documents Processing Functionalities within Native C++ Applications</font><br><br><font style="font-weight:normal;font-size:14px;color:#666666; line-height: 20px"><a href="https://products.aspose.com/words/cpp" style="font-weight:normal;font-size:14px;color:#666666; text-decoration: underline; line-height: 20px">Aspose.Words for C++</a>: Create, Build and Modify Word documents including advance document formatting within C++ applications, without using Microsoft Word. </font></td>
                                            </tr>
                                            
                                          </table></td>
                                      </tr>
                                     </table></td>
                                </tr>
                              </table><hr style="margin-top: 15px; border-bottom: 1px solid #eeeeee!important; border: 0;"></td>
                            <td width="30"></td>
                          </tr>

                          <tr>
                            <td height="10"></td>
                          </tr>




                              <tr>
                                <td width="30"></td>
                                <td><table id="mainAdvert" width="630" border="0" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;color:#333333;padding:0px">
                                    <tr>
                                      <td width="300px" valign="top"><table id="advertDetails" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;padding:0px">
                                          <tr>
                                            <td><table id="advertContent" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;color:#333333;padding:0px">
                                               <tr>
                                                    <td><a href="https://products.aspose.com/xps/net"><img src="https://www.aspose.cloud/templates/aspose/App_Themes/V3/images/xps/272x272/aspose_xps-for-net.png" width="48px" style="vertical-align: middle"></a> <font  style="font-weight:bold;font-size:18px;color:#666666"><a href="https://products.aspose.com/xps/net" style="font-weight:bold;font-size:18px;color:#333333">Aspose.XPS <small style="font-weight:normal;font-size:14px;">for .NET</small></a></font><br><br>
                                                    </td>
                                                  </tr>
                                                <tr>
                                                  <td height="10"></td>
                                                </tr>
                                                <tr>
                                                  <td><font style="font-weight:normal;font-size:18px;color:#0773cb; line-height: 20px">Manipulate Complex XPS Files Easily within .NET Applications</font><br><br><font style="font-weight:normal;font-size:14px;color:#666666; line-height: 20px"><a href="https://products.aspose.com/xps/net" style="font-weight:normal;font-size:14px;color:#666666; text-decoration: underline; line-height: 20px">Aspose.XPS for .NET</a>: Create, Edit and Save existing as well as new XPS documents within any types of .NET application (C#, VB.NET, ASP.NET and J#).</font></td>
                                                </tr>
                                                
                                              </table></td>
                                          </tr>
                                         </table></td>
                                      <td width="30x"></td>
                                      <td width="300px" valign="top"><table id="advertDetails" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;padding:0px">
                                        <tr>
                                          <td><table id="advertContent" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;color:#333333;padding:0px">
                                             <tr>
                                                  <td><a href=""><img src="https://cms.asposeptyltd.com/templates/aspose/App_Themes/V3/images/eps/272x272/aspose_eps-for-net.png" width="48px" style="vertical-align: middle"></a> <font  style="font-weight:bold;font-size:18px;color:#666666"><a href="" style="font-weight:bold;font-size:18px;color:#333333">Aspose.EPS <small style="font-weight:normal;font-size:14px;">for .NET</small></a></font><br><br>
                                                  </td>
                                                </tr>
                                              <tr>
                                                <td height="10"></td>
                                              </tr>
                                              <tr>
                                                <td><font style="font-weight:normal;font-size:18px;color:#0773cb; line-height: 20px">Converting EPS Files at its BEST within .NET Applications</font><br><br><font style="font-weight:normal;font-size:14px;color:#666666; line-height: 20px"><a href="https://products.aspose.com/eps/net" style="font-weight:normal;font-size:14px;color:#666666; text-decoration: underline; line-height: 20px">Aspose.EPS for .NET</a>: Programmatically empower your .NET applications to read and convert PostScript (.ps) and Encapsulated PostScript (.eps) files into PDF documents.</font></td>
                                              </tr>
                                              
                                            </table></td>
                                        </tr>
                                       </table></td>
                                    </tr>
                                  </table></td>
                                <td width="30"></td>
                              </tr>
                              <tr>
                                <td height="35"></td>
                              </tr>
                              






                              </table>
                        
						
                        </td>
                      <td width="10">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</center>


<style>
    a {
      color:#21649f;
      text-decoration:none;
      font-weight:bold;
      border:none;
      outline:none
    }
    a:hover {
      color:#21649f;
      text-decoration:underline;
    }
    #newsletterAdvert{ }
    </style>