<div class="body-content home">
<div id="holiday-header" class="carousel slide holiday-header" data-ride="carousel" style="height: 637px;">
<div class="carousel-inner">
<div class="item active">
<div class="container-fluid static_header holiday2015">
<div class="container headertitle">
<div class="row">
<div class="col-md-6 holidayimage tr pull-right"><a href="https://www.aspose.com/holiday2017"><img src="https://www.aspose.cloud/templates/aspose/images/dec2017/25percent-off-aspose-total-2017.png" alt="25% off Aspose.Total"></a></div>
<div class="col-md-6 headertext tl pull-left">
<h2>25% off Aspose.Total</h2>
<h4>Aspose.Total brings together all Aspose products on a platform and is great value for money. Aspose is making it even better value by giving you 25% off Aspose.Total during December and January.</h4>
<a class="btn btn-danger btn-lg" href="https://www.aspose.com/holiday2017">Read More</a>
<p>Conditions apply.</p>
</div>
</div>
</div>
<!--/container --></div>
</div>
<div class="item">
<div class="container-fluid static_header header3">
<div class="container headertitle">
<div class="row">
<div class="laptopheader col-lg-6">&nbsp;</div>
<div class="col-md-6 headertext">
<h1>File Format APIs</h1>
<h4>More than 70% Fortune 100 companies trust Aspose APIs to Create, Edit, Export and Convert over 100 file formats in their applications</h4>
<a class="btn btn-danger btn-lg" href="https://www.aspose.com/community/getting-started.aspx">Try our APIs for free</a></div>
</div>
</div>
<!--/container --></div>
</div>
</div>
<!-- Left and right controls --> <a class="left carousel-control" href="#holiday-header" data-slide="prev">&nbsp;</a> <a class="right carousel-control" href="#holiday-header" data-slide="next">&nbsp;</a><canvas id="holiday-canvas" width="1366" height="637"></canvas></div></div>
