body {
	background: -moz-linear-gradient(0deg, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(248,248,248,1)), color-stop(50%, rgba(248,248,248,1)), color-stop(51%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%); /* ie10+ */
	background: linear-gradient(90deg, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%); /* w3c */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#FFFFFF', GradientType=1 ); /* ie6-9 */
}
.leftsidepanel {
	background-color: #f8f8f8;
	padding: 0% 4% 3% 0%;
}
.contentpanel {
	background-color: #FFFFFF;
	padding: 0% 5% 3% 5%;
	border-left: 1px #ccc solid
}
.container-fluid.relatedlinks {
	background-color: #444444;
	padding: 3% 0%!important;
	color: #efefef
}
.a, .b, .c, .d {
	margin-bottom: 10px;
	display: block;
	float: left;
	width: 100%;
}
.spacer20 {
	margin-bottom: 20px;
}
.buttonpdf {
	width: 43.33%;
	float: left;
	margin-bottom: 20px
}
.basictextspacer {
	width: 13.33%;
	float: left;
	text-align: center;
	line-height: 45px;
	font-weight: bold;
	font-size: 22px
}
.buttonpdf button {
	display: inline-block;
	width: 100%;
	text-align: left;
	font-weight: bold;
	font-size: 20px!important
}
.fileselectorsuccess, .fileselectorerror {
	display: none;
}
p.success{    
	width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    color: green;
    font-size: 16px;
    position: relative;
    margin: 0;
}
p.error{    
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    color: red;
    font-size: 16px;
    position: relative;
    margin: 0;
}
#file-1, #file-2, #file-3 {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.bigbtn {
	margin: 10px 0;
	width: 100%
}
label.bigbtn {
	margin: 10px 0;
}
.bigbtn .btn {
	padding: 15px 55px;
	font-size: 26px!important;
	border-radius: 0
}
.bigbtn .btn {
	color: #1a89d0!important;
	background: none!important;
	border: 2px solid #1a89d0!important
}
.bigbtn .btn:hover, .contentpanel .bigbtn .btn:focus {
	background: #3071a9!important;
	color: #FFFFFF!important;
}
.bigbtn .btn#convertnow {
	color: #FFFFFF!important;
	background: #1a89d0!important;
	border: 2px solid #1a89d0!important
}
.bigbtn .btn#convertnow:hover, .bigbtn .btn#convertnow:focus {
	color: #FFFFFF!important;
	background: #3071a9!important;
	border: 2px solid #007bff!important
}
.receivemail {
	margin: 0px 0 10px 0;
	font-size: 13px;
}
.receivemail input{
	float:left;
	margin:5px 5px 0px 0
}
.relatedlinks ul {
	list-style-type: none;
	float: left;
	padding:0;
}
.relatedlinks ul a {
	font-size: 13px;
	color: #999;
}
.relatedlinks ul a:hover {
	color: #eee;
}
.row {
	margin: 0!important
}
.container-fluid {
	padding: 0!important
}
.dropdown-menu {
	margin-top: 0!important;
	border-radius: 0;
	padding: 0;
	box-shadow: 0 5px 30px -10px #666;
	border: 0px solid #FFFFFF
}
.dropdown-item {
	padding: 10px 5px
}
.dropdown-item:hover {
	background-color: #3071a9!important;
	color: #FFFFFF
}
.dropdown-menu:before {
	display: none!important;
}
.dropdown-toggle::after {
	right: 10px!important;
	position: absolute;
	top: 21px;
}
.contentpanel span {
	float: left;
	width: 90%
}
.contentpanel i {
	float: left;
	width: 7%;
	color: #1a89d0
}
.contentpanel p {
	float: left;
	width: 100%;
	margin-bottom: 15px;
	text-align: left
}
.subscribe input[type=email] {
	display: inline-block
}
.subscribe input, .btn-danger {
	border-radius: 0;
	display: inline-block;
	cursor: point
}
.themeblue {
	text-align: left!important;
	color: #1a89d0;
	padding: 0!important
}
.dropdown:hover .dropdown-menu {
	display: block;
}
#convertinfo {
	z-index: 9999999999
}
#convertinfo .modal-header {
	background: #1a89d0;
	color: #FFFFFF
}
#convertinfo .question {
	color: #1a89d0;
}
input[type=text], .btn:hover, button:hover, a:hover {
	cursor: pointer;
	box-shadow: none!important;
}
input {
	box-shadow: none!important;
}
.input-group-addon, input, a, button {
	border-radius: 0!important
}
 @media(max-width:1024px) {
body {
	background: none!important
}
.padding50 {
	padding: 20px!important;
}
.paddingtb50 {
	padding: 20px!important;
}
.container {
	padding: 0!important;
	max-width: 100%!important
}
.hidden-md {
	display: none!important;
}
.leftsidepanel {
	padding: 3%;
}
.contentpanel {
	padding: 3%;
}
}
 @media(max-width:768px) {
.input-group-addon{
	display:none!important
}
.bigbtn, .bigbtn .btn {
	width: 100%!important
}
.img-fluid {
	margin: 20px
}
.buttonpdf {
	width: 46%;
}
.basictextspacer {
	width: 8%;
}
.dropdown:hover .dropdown-menu{
	width:100%
}
@media (max-width: 320px){
.bigbtn, .bigbtn .btn {

    font-size: 100%!important;
}
}
